<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Search address</ion-title>
  </ion-navbar>
</ion-header>
<ion-content> 
    <ion-searchbar id="se"
        [(ngModel)]="autocomplete.query" 
        [showCancelButton]="true" 
        (ionInput)="updateSearch()" 
        (ionCancel)="dismiss()"
        placeholder="Start typing and select ...">
    </ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of autocompleteItems" 
            (click)="chooseItem(item)">
            <span *ngIf="autocompleteItems!=''">{{ item.description }}</span>
            <span *ngIf="autocompleteItems=='null'">No Result found</span>
        </ion-item>
    </ion-list>
</ion-content>