<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="login">
<form class="list">
        <img src="assets/imgs/oukazon-logo.png" class="logo"/>
      <ion-list>

  <ion-item>
    <ion-label stacked>User/Email</ion-label>
    <ion-input type="text" name="username" placeholder="Enter your Username or Email" [(ngModel)]="userData.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Password</ion-label>
    <ion-input type="password" name="password_hash" placeholder="Enter your Password" [(ngModel)]="userData.password_hash"></ion-input>
  </ion-item>
<div class="spacer"></div>
  <button ion-button full color="energy" (click)="login()">Log in</button>
  <button ion-button full class="btn-trasparent" (click)="sup()" >Or create an account</button>

</ion-list>
    </form>
</ion-content>


