<ion-header>
  <ion-navbar>
    <ion-title>Select Company Category</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item-divider color="lighter">
      <h3>Please Select a Category</h3>
    </ion-item-divider>
    <ion-item *ngFor="let cat of catList; let i = index" (click)="adSubCat(i)">
      <i item-start class="{{cat.icon}} fa20"></i>
      <span *ngIf="langData=='AR'">{{ cat.cat_namear }}</span>
      <span *ngIf="langData=='EN'">{{ cat.cat_namear }}</span>
      <ion-icon item-end name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>