
<ion-content padding id="login">
<form class="list">
        <img src="assets/imgs/oukazon-logo.png" class="logo"/>
        <br>
        <br>
        <br>
<h2>Preferred Content Language</h2>
<hr>
          <ion-list class="right">
            <p>أختر اللغة العربية للمحتوى العربي</p>
            <ion-item color="titleh1" (click)="setlangAR()">
                <h1 class="right">العربية</h1>
                <ion-avatar item-end>
                  <img src="./assets/icon/qa.png" />
                </ion-avatar>
              
            </ion-item>
          </ion-list>
          <ion-list>
            <p>Choose English For English Content</p>
              <ion-item color="titleh1" (click)="setlangEN()">
                  <ion-avatar item-start>
                    <img src="./assets/icon/uk.png" />
                  </ion-avatar>
                <h1>English</h1>
              </ion-item>
            </ion-list>
    </form>
</ion-content>


