page-clang {
#login{
    background: linear-gradient(180deg, #662d91,#8f01fc, #9d05e1, #7505e1,#ac2898, #a90bb8,#8f01fc,#662d91);
    background-size: 500% 500%;
    animation: colorchange 30s ease-out infinite;
    @keyframes colorchange{
		0%{background-position: 0% 99%}
		25%{background-position: 50% 50%}
		50%{background-position: 100% 0%}
		50%{background-position: 50% 50%}
        100%{background-position: 0% 99%}
    }
    p{
    	color: color($colors, titleh1);
        font-size: 18px;
    }
    .right{
        text-align: right;
    }
    h2{
        text-align: center;
        color: color($colors, titleh1);
    }
    .logo{
    	width: 60%;
    	margin-left: 20%;
    	margin-right: 20%;
    	margin-top:25%;
    	margin-bottom:3%;
    }
    .spacer{
    	width: 100%;
    	height: 60px;
    }
    .btn-trasparent{
    	background-color: rgba(255,0,0,0.0);

    }
}
}
