<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
      </ion-buttons>
      <ion-title *ngIf="step1 == true">Directory</ion-title>
      <ion-title *ngIf="step2 == true && langData == 'AR'">{{ subcat.cat_namear }}</ion-title>
      <ion-title *ngIf="step2 == true && langData == 'EN'">{{ subcat.cat_name }}</ion-title>
      <ion-title *ngIf="step3 == true">{{ title }}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
      <ion-refresher *ngIf="step3 == true" no-lines (ionRefresh)="doRefresh($event)">
          <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="dots" refreshingText="Oukazoning...">
          </ion-refresher-content>
        </ion-refresher>
      <ion-list *ngIf="step1 == true">
          <ion-item-divider color="lighter">
            <h3>Please Select a Category</h3>
          </ion-item-divider>
          <ion-item *ngFor="let cat of catList; let i = index" (click)="adSubCat(i)">
            <i item-start class="{{cat.icon}} fa20"></i>
            <span *ngIf="langData == 'AR'">{{ cat.cat_namear }}</span>
            <span *ngIf="langData == 'EN'">{{ cat.cat_name }}</span>
            <ion-icon item-end name="arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
  
        <ion-list *ngIf="step2 == true">
            <ion-item-divider color="lighter">
              <h3>Please Select a Sub-Category</h3>
            </ion-item-divider>
            <button ion-item *ngFor="let adsubcat of subcatList; let i = index" (click)="postadSubCat(i)">
                <span *ngIf="langData == 'AR'">{{ adsubcat.sub_cat_namear }}</span>
                <span *ngIf="langData == 'EN'">{{ adsubcat.sub_cat_name }}</span>
            </button>
          </ion-list>
  
  
  
          <span *ngIf="step3 == true">
  
  
  
  
              <ion-card class="comp" *ngFor="let company of companies; let i = index" id="card" (click)="showComp(i)">
                  <img class="picture" [src]="company.screen_shot" />
                  <div class="comp-title" *ngIf="company.company_name!='' && company.company_namear==''">{{company.company_name}}</div>
                  <div class="comp-title" *ngIf="company.company_name=='' && company.company_namear!=''">{{company.company_namear}}</div>
                  <div class="comp-title" *ngIf="langData == 'AR'">{{company.company_namear}}</div>
                  <div class="comp-title" *ngIf="langData == 'EN'">{{company.company_name}}</div>
                  <div class="comp-location">{{company.city_name}}</div>
                  <div class="comp-cat" *ngIf="langData == 'AR'">{{company.cat_namear}}</div>
                  <div class="comp-cat" *ngIf="langData == 'EN'">{{company.cat_name}}</div>
                  <div class="comp-sub_cat" *ngIf="langData == 'AR'">{{company.sub_cat_namear}}</div>
                  <div class="comp-sub_cat" *ngIf="langData == 'EN'">{{company.sub_cat_name}}</div>
                  <ion-col style="padding: 0px">
                    <button ion-button icon-left clear small>
                      <ion-icon name="text"></ion-icon>
                      <div>{{company.total_comments}} Comments</div>
                    </button>
                  </ion-col>
                </ion-card>
                <ion-card *ngIf="noRecordsComp">
                    <ion-item>
                        <p><ion-icon name="infinite"></ion-icon> Thank You That's All, Folks! </p>
                    </ion-item>
                  </ion-card>
                  <ion-infinite-scroll (ionInfinite)="doInfiniteComp($event)"  *ngIf="!noRecordsComp">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                  </ion-infinite-scroll>
  
  
  
  
          </span>
  
  </ion-content>
  <ion-footer>
    <button *ngIf="step2 == true" ion-button full small icon-left (click)="backToCat()" style="margin: 0px 0px 0px 0px;" color="energy">
      <ion-icon name="arrow-backward"> </ion-icon> Back To Categories
    </button>
    <button *ngIf="step3 == true" ion-button full small icon-left (click)="backToSubCat()" style="margin: 0px 0px 0px 0px;" color="energy">
      <ion-icon name="arrow-backward"> </ion-icon> Back to sub-Categories
    </button>
      <ion-row>
        <ion-col col-4 style="padding: 0px 0px 0px 0px;">
          <button ion-button full small icon-left style="margin: 0px 0px 0px 0px;" color="primary">
            <ion-icon name="folder"> </ion-icon> Directory
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 0px 0px 0px 0px;">
          <button ion-button full small icon-left (click)="pushC()"  style="margin: 0px 0px 0px 0px;" color="titleh1">
            <ion-icon name="cart"> </ion-icon> Classified Ads
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 0px 0px 0px 0px;">
          <button ion-button full small icon-left (click)="pushA()"  style="margin: 0px 0px 0px 0px;" color="titleh1">
            <ion-icon name="help-circle"> </ion-icon> Ask Ouka
          </button>
        </ion-col>
      </ion-row>
  </ion-footer>
  