<ion-content>
  <ion-navbar>
      <ion-title *ngIf="ad.product_name!='' && ad.product_namear==''">{{ad.product_name}}</ion-title>
      <ion-title *ngIf="ad.product_name=='' && ad.product_namear!=''">{{ad.product_namear}}</ion-title>

      <ion-title *ngIf="langData=='EN'">{{ad.product_name}}</ion-title>
      <ion-title *ngIf="langData=='AR'">{{ad.product_namear}}</ion-title>
  </ion-navbar>
  <ion-item no-lines>
    <ion-avatar item-start>
      <img [src]="ad.userpic" />
    </ion-avatar>
    <h2>{{ad.username}}</h2>
    <p>{{ad.name}}</p>
    <ion-col item-end class="col_price">
      <div>{{ad.currency_sign}} {{ad.price}}
        <span class="nego" *ngIf="ad.negotiable==1"> Negotiable</span>
      </div>
    </ion-col>
  </ion-item>
  <p *ngIf="ad.status=='pending'" item-end style="background-color: #f0ad4e; color: white; margin: 0px 0px 0px 0px; text-align: center;">Pending</p>
  <p *ngIf="ad.status=='hide'" item-end style="background-color: #d9534f; color: white; margin: 0px 0px 0px 0px; text-align: center;">Hidden</p>
  <p *ngIf="ad.urgent==1" item-end style="background-color: #00ad79; color: white; margin: 0px 0px 0px 0px; text-align: center;">URGENT</p>
  <ion-slides class="sld" autoplay="3000" pager loop="true" paginationType="bullets">
    <ion-slide *ngFor="let img of ad.pictures">
      <img src="https://www.oukazon.com/storage/products/screenshot/{{img}}" imageViewer>
    </ion-slide>
  </ion-slides>

  <ion-row class="row_price">
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="time"></ion-icon>
        <div>{{ad.created_at  | timeAgo}} </div>
      </button>
    </ion-col>
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="eye"></ion-icon>
        <div>{{ad.view}} </div>
      </button>
    </ion-col>
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{ad.total_comments}} </div>
      </button>
    </ion-col>
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="pin"></ion-icon>
        <div>{{ad.location}} </div>
      </button>
    </ion-col>
  </ion-row>
    <span *ngIf="userDetails.name == '' || userDetails.email == ''">
        <h4>Please Update Your Profile In Order To Call or Chat with the Owner !</h4>
    <button color="greens" ion-button full item-end icon-left (click)="opensettings()">
        <ion-icon name="settings"></ion-icon>
        Update Profile
      </button>
    </span>
  <ion-grid *ngIf="userDetails.name != '' && userDetails.email != ''">
    <ion-row><ion-col col-6 *ngIf="userDetails.id != ad.user_id"><button color="call" small ion-button full item-end icon-left (click)="makecall()"><ion-icon name="call"></ion-icon>
          Call
    </button></ion-col>
    <ion-col col-6 *ngIf="userDetails.id != ad.user_id"><button color="danger" small ion-button full item-end icon-left (click)="chat()"><ion-icon name="chatboxes"></ion-icon>
          Chat
    </button></ion-col></ion-row>
  </ion-grid>
  <ion-grid *ngIf="userDetails.name == '' || userDetails.email == ''">
      <ion-row><ion-col col-6 *ngIf="userDetails.id != ad.user_id"><button color="call" small ion-button full item-end icon-left (click)="makecall()" disabled><ion-icon name="call"></ion-icon>
            Call
      </button></ion-col>
      <ion-col col-6 *ngIf="userDetails.id != ad.user_id"><button color="danger" small ion-button full item-end icon-left (click)="chat()" disabled><ion-icon name="chatboxes"></ion-icon>
            Chat
      </button></ion-col></ion-row>
    </ion-grid>
  <div #map id="oukazon-map"></div>
  <ion-card>
      <ion-card-content>
          <h2 *ngIf="ad.product_name!='' && ad.product_namear==''">{{ad.product_name}}</h2>
          <h2 *ngIf="ad.product_name=='' && ad.product_namear!=''">{{ad.product_namear}}</h2>
          <h2 *ngIf="langData=='AR'">{{ad.product_namear}}</h2>
          <h2 *ngIf="langData=='EN'">{{ad.product_name}}</h2>
          </ion-card-content>
    
        <ion-card-header>
          Description
        </ion-card-header>
        <ion-card-content *ngIf="ad.description!='' && ad.descriptionar==''">{{ad.description}}</ion-card-content>
        <ion-card-content *ngIf="ad.description=='' && ad.descriptionar!=''">{{ad.descriptionar}}</ion-card-content>
        <ion-card-content *ngIf="langData=='AR'">{{ad.descriptionar}}</ion-card-content>
        <ion-card-content *ngIf="langData=='EN'">{{ad.description}}</ion-card-content>

    <ion-card-header>
      Tags
    </ion-card-header>
    <ion-card-content>
      <button class="btn-tag" ion-button color="energy" outline *ngFor="let tags of ad.tag">{{tags}}</button>
    </ion-card-content>
    <ion-card-header *ngIf="ad.custom_fields!=''">
      {{ad.checkbox_title}}
    </ion-card-header>
    <ion-card-content *ngIf="ad.custom_fields!=''">
      <ion-row class="check-box" *ngFor="let value of ad.checkbox_value">
        <ion-checkbox color="primary" disabled="true" checked="true"></ion-checkbox>
        {{value}}
      </ion-row>
    </ion-card-content>
    <ion-list class="list-head" *ngIf="ad.custom_fields!=''">
      <ion-list-header>
        Additional Details
      </ion-list-header>
      <ion-item class="custom-box" *ngFor="let custom of ad.custom">
        {{custom.title}}
        <ion-note item-end>{{custom.value}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card id="commentbox">
    <h2>All Comments({{dataCount}})</h2>
    <div *ngFor="let comment of dataSet ,let i = index">
    <ion-item>
      <ion-avatar item-start>
          <img src="https://www.oukazon.com/storage/profile/small_{{comment.userimage}}">
      </ion-avatar>
          <h2>{{comment.username}}</h2>
      <p>{{comment.date | timeAgo}}</p>

      <button *ngIf="comment.index == true" item-end ion-button icon-left clear small (click)="del_ids(i)"> <ion-icon color="primary" name="thumbs-up" ></ion-icon>
          <div >{{comment.NbLikes}}</div></button>
      
      <button *ngIf="comment.index == false" item-end ion-button icon-left clear small (click)="set_ids(i)"> <ion-icon color="lighter" name="thumbs-up" ></ion-icon>
          <div >{{comment.NbLikes}}</div></button>
      
    </ion-item>
    <ion-card-content>
      <p>{{comment.text}}</p>
    </ion-card-content>
    </div>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-item-divider *ngIf="userDetails.email == ''" color="danger">Email Address Is Missing!</ion-item-divider>
    <ion-item-divider *ngIf="userDetails.name == ''" color="alerts">Full Name Is Missing !</ion-item-divider>
    <span *ngIf="userDetails.name == '' || userDetails.email == ''">
        <h4>Please Update Your Profile In Order To Comment !</h4>
    <button color="greens" ion-button full item-end icon-left (click)="opensettings()">
        <ion-icon name="settings"></ion-icon>
        Update Profile
      </button>
      <button ion-button small full (click)="postComment()" disabled>POST COMMENT</button>
    </span>
    <ion-row class="cmnts">
    <ion-col col-10>
      <ion-input *ngIf="userDetails.name != '' && userDetails.email != ''" #commentbox name="text" placeholder="ENTER A BRIEF COMMENT" [(ngModel)]="userPostData.text"></ion-input>
    </ion-col>
    <ion-col>
      <button class="butt" *ngIf="userDetails.name != '' && userDetails.email != ''" ion-button clear small (click)="postComment()"><ion-icon class="send" name="send"></ion-icon></button>
    </ion-col>
  </ion-row>
    
   
</ion-footer>