page-comp-detail {
    .sld{
        height: 40%;
        background-color: color($colors, dark);
    }
    .swiper-pagination-bullet{
        background: color($colors, light);
    }
    .toolbar{
        color: rgba(0, 0, 0, 0.1) !important;
    }
    .featured{
        background-color: #F1B500;
    }
    .urgent{
        background-color: #00ad79;
    }
    .highlight{
        background-color: #2196f3;
    }
    .title{
        font-size: 10px;
        font-weight: 500;
        color: color($colors, titleh1);
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.99);
    }
    .btn{
        height: 1.1em;
        margin: 0px 0px 0px 0px;
    }
    .colcol{
        padding: 0px;
        text-align: center;
    }
    .btn-tag{
        height: 1.3em;
        margin: 0px 4px 0px 0px;
        padding: 3px;
        text-align: center;
    }
    .card-header{
        padding: 8px 16px 8px 16px;
    }
    .list-header{
        text-align: center;
        padding: 0;
        font-size: 1.4rem;
        font-weight: 600;
    }
    .list-head{
        display: table-footer-group;
        margin: 2px
    }
    .col_price{
        background-color: color($colors, primary);
        text-align: center;
        height: 35px;
        padding: 0px;
        padding-top: 8px;
        font-size: 16px;
        font-weight: 600;
        color: rgb(230, 230, 230);
        margin: 0px 0px 0px 0px !important;
    }
    .button-small-wp {
        height: 1.6em;
        font-size: 1.3rem;
        padding: 0 0.9em;
    }
    .nego{
        font-size: 8px;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .list-header-md {
        padding-left: 16px;
        border-bottom: 1px solid #dedede;
        font-size: 1.4rem;
        color: #757575;
    }
    .check-box{
        display: -webkit-inline-box;
        width: 50%;
    }
    .custom-box{
        display: -webkit-inline-box;
        width: 46%;
        padding-left: 5px;
        font-size: 1.2rem;
        overflow: inherit;
        align-items: unset;
        min-height: 2.4rem;
        border-bottom-style: solid;
        border-bottom-color: gray;
        border-bottom-width: 1px;
        margin-left: 4px;
    }
    .list{
        margin: 0px 0px 10px;
    }
    #oukazon-compmap{
        height: 20%;
    }
    .cmnts{
        resize: none;
        border-top: 3px solid color($colors, energy);
        border-radius: 4px;
        }
        .send{
            //transform: rotate(46deg);
            font-size: 3.2em;
        }
        .butt{
        height: 3.3em;
        font-size: 1.3rem;
        padding: 0 0em;
        margin: 0rem 0rem;
        }
    .x{
        padding: 0px 2px 0px 2px;
        margin: -7px 0px 0px 0px;
    }
    .x1{
        padding: 0px 2px 0px 2px;
        margin: 1px 0px 0px 0px;
    }
}
