<ion-content>
  <ion-navbar>
      <ion-title *ngIf="comp.company_name!='' && comp.company_namear==''">{{comp.company_name}}</ion-title>
      <ion-title *ngIf="comp.company_name=='' && comp.company_namear!=''">{{comp.company_namear}}</ion-title>

      <ion-title *ngIf="langData=='AR'">{{comp.company_namear}}</ion-title>
      <ion-title *ngIf="langData=='EN'">{{comp.company_name}}</ion-title>
  </ion-navbar>
<!--  <ion-item>
    <ion-avatar item-start>
      <img [src]="comp.userpic" />
    </ion-avatar>
    <h2>{{comp.username}}</h2>
    <p>{{comp.name}}</p>
  </ion-item> -->
  <p *ngIf="comp.status=='pending'" item-end style="background-color: #f0ad4e; color: white; margin: 0px 0px 0px 0px; text-align: center;">Pending</p>
  <p *ngIf="comp.status=='hide'" item-end style="background-color: #d9534f; color: white; margin: 0px 0px 0px 0px; text-align: center;">Hidden</p>
  <ion-slides class="sld" autoplay="3000" pager loop="true" paginationType="bullets">
    <ion-slide *ngFor="let img of comp.pictures">
      <img src="https://www.oukazon.com/storage/companies/screenshot/{{img}}" imageViewer>
    </ion-slide>
  </ion-slides>

  <ion-row class="row_price">
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="time"></ion-icon>
        <div>{{comp.created_at | timeAgo}} </div>
      </button>
    </ion-col>
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="eye"></ion-icon>
        <div>{{comp.view}} </div>
      </button>
    </ion-col>
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{comp.total_comments}} </div>
      </button>
    </ion-col>
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="pin"></ion-icon>
        <div>{{comp.location}} </div>
      </button>
    </ion-col>
  </ion-row>

  <span *ngIf="userDetails.name == '' || userDetails.email == ''">
      <h4>Please Update Your Profile In Order To See Company Contact Details !</h4>
  <button color="greens" ion-button full item-end icon-left (click)="opensettings()">
      <ion-icon name="settings"></ion-icon>
      Update Profile
    </button>
  </span>
<ion-row *ngIf="userDetails.name != '' && userDetails.email != ''">
    <ion-col *ngIf="comp.landline!='' && comp.contact_phone==1" class="x1"><button ion-button full small icon-left color="call" (click)="makecall()"><ion-icon name="call"></ion-icon>
        Call</button>
    </ion-col>
    <ion-col *ngIf="comp.contact_chat==1" class="x1"><button ion-button full small icon-left color="danger" (click)="chat()"><ion-icon name="chatboxes"></ion-icon>
      Call</button>
    </ion-col>
    
</ion-row>
<ion-row *ngIf="userDetails.name != '' && userDetails.email != ''">
    <ion-col *ngIf="comp.fax!='' && comp.contact_phone==1" class="x"><button  ion-button full small icon-left (click)="showfax()"><ion-icon name="paper"></ion-icon>
      Fax</button>
    </ion-col>
    <ion-col *ngIf="comp.email!='' && comp.contact_email==1" class="x"><button ion-button full small icon-left color="landline" (click)="showemail()"><ion-icon name="mail"></ion-icon>
        E-mail</button>
    </ion-col>
    <ion-col *ngIf="comp.web!=''" class="x"><button ion-button full small icon-left color="web" (click)="visitweb()"><ion-icon name="globe"></ion-icon>
        Website</button>
    </ion-col>
</ion-row>


  <div #compmap id="oukazon-compmap"></div>
  <ion-card>
      <ion-card-content>
          <h2 *ngIf="comp.company_name!='' && comp.company_namear==''">{{comp.company_name}}</h2>
          <h2 *ngIf="comp.company_name=='' && comp.company_namear!=''">{{comp.company_namear}}</h2>
          <h2 *ngIf="langData=='AR'">{{comp.company_namear}}</h2>
          <h2 *ngIf="langData=='EN'">{{comp.company_name}}</h2>
          </ion-card-content>
    
        <ion-card-header>
          Description
        </ion-card-header>
        <ion-card-content *ngIf="comp.description!='' && comp.descriptionar==''">{{comp.description}}</ion-card-content>
        <ion-card-content *ngIf="comp.description=='' && comp.descriptionar!=''">{{comp.descriptionar}}</ion-card-content>
        <ion-card-content *ngIf="langData=='AR'">{{comp.descriptionar}}</ion-card-content>
        <ion-card-content *ngIf="langData=='EN'">{{comp.description}}</ion-card-content>

    <ion-card-header>
      Tags
    </ion-card-header>
    <ion-card-content>
      <button class="btn-tag" ion-button color="energy" outline *ngFor="let tags of comp.tag">{{tags}}</button>
    </ion-card-content>
    <ion-card-header *ngIf="comp.custom_fields!=''">
      {{comp.checkbox_title}}
    </ion-card-header>
    <ion-card-content *ngIf="comp.custom_fields!=''">
      <ion-row class="check-box" *ngFor="let value of comp.checkbox_value">
        <ion-checkbox color="primary" disabled="true" checked="true"></ion-checkbox>
        {{value}}
      </ion-row>
    </ion-card-content>
    <ion-list class="list-head" *ngIf="comp.custom_fields!=''">
      <ion-list-header>
        Additional Details
      </ion-list-header>
      <ion-item class="custom-box" *ngFor="let custom of comp.custom">
        {{custom.title}}
        <ion-note item-end>{{custom.value}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card id="commentbox">
    <h2>All Comments({{dataCount}})</h2>
    <div *ngFor="let comment of dataSet ,let i = index">
      <ion-item>
        <ion-avatar item-start>
          <img src="https://www.oukazon.com/storage/profile/small_{{comment.userimage}}">
        </ion-avatar>
        <h2>{{comment.username}}</h2>
        <p>{{comment.date | timeAgo}}</p>
        
        <button *ngIf="comment.index == true" item-end ion-button icon-left clear small (click)="del_ids(i)"> <ion-icon color="primary" name="thumbs-up" ></ion-icon>
          <div >{{comment.NbLikes}}</div></button>
      
      <button *ngIf="comment.index == false" item-end ion-button icon-left clear small (click)="set_ids(i)"> <ion-icon color="lighter" name="thumbs-up" ></ion-icon>
          <div >{{comment.NbLikes}}</div></button>

      </ion-item>
      <ion-card-content>
        <p>{{comment.text}}</p>
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-item-divider *ngIf="userDetails.email == ''" color="danger">Email Address Is Missing!</ion-item-divider>
    <ion-item-divider *ngIf="userDetails.name == ''" color="alerts">Full Name Is Missing !</ion-item-divider>
    <span *ngIf="userDetails.name == '' || userDetails.email == ''">
        <h4>Please Update Your Profile In Order To Comment !</h4>
    <button color="greens" ion-button full item-end icon-left (click)="opensettings()">
        <ion-icon name="settings"></ion-icon>
        Update Profile
      </button>
      <button ion-button small full (click)="postComment()" disabled>POST COMMENT</button>
    </span>
    <ion-row class="cmnts">
    <ion-col col-10>
      <ion-input *ngIf="userDetails.name != '' && userDetails.email != ''" #commentbox name="text" placeholder="ENTER A BRIEF COMMENT" [(ngModel)]="userPostDataComp.text"></ion-input>
    </ion-col>
    <ion-col>
      <button class="butt" *ngIf="userDetails.name != '' && userDetails.email != ''" ion-button clear small (click)="postComment()"><ion-icon class="send" name="send"></ion-icon></button>
    </ion-col>
  </ion-row>
</ion-footer>