.ios,.md{page-profile {
    .bg{
        background-image: url(../assets/imgs/menu_header_bg.jpg);
        height: 20%;
        background-size: cover;
    }
    .main-cnt{
        width: 100%;
        height: 1%;
        transform: translate(0%,-5%);
    }
    .dp{
        border-radius: 50%;
        width: 100px;
        z-index: 5;
        margin-top: -100%;
        position: relative;
        left: 50%;
        margin-right:-50%;
        transform: translate(-50%,-60%);
        box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.90)
    }
    .user-name{
        text-shadow: -3px 8px 20px rgba(0, 0, 0, 0.5);
        color: #7d3488;
    }
    .user-tag{
        margin-top: -20px;
        margin-bottom: 0px;
    }

}
}