<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>My Dashboard</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
</ion-content>

<ion-content Parallax>
  <div class="bg"></div>
  <div class="main-cnt">
    <h1 Text-center *ngIf="userDetails.name == ''" class="user-name">{{userDetails.username}}</h1>
    <h1 Text-center *ngIf="userDetails.name != ''" class="user-name">{{userDetails.name}}</h1>

    <img src="https://www.oukazon.com/storage/profile/small_{{userDetails.image}}" class="dp">
    <p Text-center class="user-tag"><strong>{{userDetails.username}}</strong> | Joined {{userDetails.created_at  | timeAgo}}</p>
    
    <ion-segment [(ngModel)]="my">
      <ion-segment-button value="comps">My Companies</ion-segment-button>
      <ion-segment-button value="ads">My Ads</ion-segment-button>
      <ion-segment-button value="ques">My Questions </ion-segment-button>
    </ion-segment>
      <div [ngSwitch]="my">


        <ion-list *ngSwitchCase="'comps'">
            <ion-item (click)="c_showComp()">
                <ion-icon name="paper" item-start></ion-icon>My Companies<ion-badge color="energy" item-end>{{dataSetComp.length}}</ion-badge>
                <ion-icon name="arrow-down" item-end *ngIf="showComp==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showComp==false"></ion-icon>
            </ion-item>

            <ion-list style="margin: 0px 0px 0px;" *ngIf="showComp==true">
                <ion-item *ngIf="dataSetComp.length==0" padding style="opacity: .5 !important;">
                    <ion-icon name="outlet" item-end></ion-icon>
                    <h2>Sorry , Nothing to Show !</h2>
                  </ion-item>
                <ion-item-sliding *ngFor="let allads of dataSetComp; let msgIndex = index">
                  <ion-item (click)="openComp(msgIndex)">
                    <ion-thumbnail item-start>
                      <img src="https://www.oukazon.com/storage/companies/screenshot/small_{{allads.screen_shot[0]}}">
                    </ion-thumbnail>
                    <h2 *ngIf="allads.company_name!='' && allads.company_namear==''">{{allads.company_name}}</h2>
                    <h2 *ngIf="allads.company_name=='' && allads.company_namear!=''">{{allads.company_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{allads.company_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{allads.company_name}}</h2>
                    <p *ngIf="langData=='AR'">{{allads.cat_namear}} > {{allads.sub_cat_namear}}</p>
                    <p *ngIf="langData=='EN'">{{allads.cat_name}} > {{allads.sub_cat_name}}</p>
                    <p>{{allads.updated_at  | timeAgo}}</p>
                    <button ion-button clear *ngIf="allads.status=='active'" item-end style="background-color: #5cb85c; color: white; margin: 0px 5px 0px 2px;">Active</button>
                    <button ion-button clear *ngIf="allads.status=='pending'" item-end style="background-color: #f0ad4e; color: white; margin: 0px 5px 0px 2px;">Pending</button>
                    <button ion-button clear *ngIf="allads.status=='hide'" item-end style="background-color: #d9534f; color: white; margin: 0px 5px 0px 2px;">Hidden</button>
                  </ion-item>
                    <ion-item-options side="right">
                      <button ion-button color="landline" *ngIf="allads.status!='pending'" (click)="editComp(msgIndex)">
                        <ion-icon name="create"></ion-icon>
                        Edit
                      </button>
                      <button ion-button color="greens" *ngIf="allads.status=='active'" (click)="companyHide(allads.id, msgIndex)">
                        <ion-icon name="eye-off"></ion-icon>
                        Hide
                      </button>
                      <button ion-button color="web" *ngIf="allads.status=='hide'" (click)="companyShow(allads.id, msgIndex)">
                        <ion-icon name="eye-off"></ion-icon>
                        Show
                        </button>
                      <button ion-button color="danger" (click)="companyDelete(allads.id, msgIndex)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                      </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>


            <ion-item (click)="c_showComp2()">
                <ion-icon name="time" item-start></ion-icon>Pending Companies<ion-badge color="energy" item-end>{{dataSetCompPending.length}}</ion-badge>
                <ion-icon name="arrow-down" item-end *ngIf="showComp2==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showComp2==false"></ion-icon>
            </ion-item>
            <ion-list style="margin: 0px 0px 0px;" *ngIf="showComp2==true">
                <ion-item *ngIf="dataSetCompPending.length==0" padding style="opacity: .5 !important;">
                    <ion-icon name="outlet" item-end></ion-icon>
                    <h2>Sorry , Nothing to Show !</h2>
                  </ion-item>
              <ion-item-sliding *ngFor="let alladsPending of dataSetCompPending; let msgIndex = index">
                <ion-item (click)="openPendingComp(msgIndex)">
                  <ion-thumbnail item-start>
                    <img src="https://www.oukazon.com/storage/companies/screenshot/small_{{alladsPending.screen_shot[0]}}">
                  </ion-thumbnail>
                    <h2 *ngIf="alladsPending.company_name!='' && alladsPending.company_namear==''">{{alladsPending.company_name}}</h2>
                    <h2 *ngIf="alladsPending.company_name=='' && alladsPending.company_namear!=''">{{alladsPending.company_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{alladsPending.company_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{alladsPending.company_name}}</h2>
                    <p *ngIf="langData=='AR'">{{alladsPending.cat_namear}} > {{alladsPending.sub_cat_namear}}</p>
                    <p *ngIf="langData=='EN'">{{alladsPending.cat_name}} > {{alladsPending.sub_cat_name}}</p>
                  <p>{{alladsPending.updated_at  | timeAgo}}</p>
                  <button ion-button clear item-end style="background-color: #f0ad4e; color: white; margin: 0px 5px 0px 2px;">Pending</button>
                </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="companyPendingDelete(alladsPending.id, msgIndex)">
                      <ion-icon name="trash"></ion-icon>
                      Delete
                    </button>
                  </ion-item-options>
              </ion-item-sliding>
          </ion-list>


            <ion-item (click)="c_showComp3()">
                <ion-icon name="eye-off" item-start></ion-icon>Hidden Companies <ion-badge color="energy" item-end>{{dataSetCompHide.length}}</ion-badge>
                <ion-icon name="arrow-down" item-end *ngIf="showComp3==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showComp3==false"></ion-icon>
            </ion-item>
            <ion-list style="margin: 0px 0px 0px;" *ngIf="showComp3==true">
                <ion-item *ngIf="dataSetCompHide.length==0" padding style="opacity: .5 !important;">
                    <ion-icon name="outlet" item-end></ion-icon>
                    <h2>Sorry , Nothing to Show !</h2>
                  </ion-item>
              <ion-item-sliding *ngFor="let alladsHide of dataSetCompHide; let msgIndex = index">
                <ion-item style="opacity: .5 !important;" (click)="openHiddenComp(msgIndex)">
                  <ion-thumbnail item-start>
                    <img src="https://www.oukazon.com/storage/companies/screenshot/small_{{alladsHide.screen_shot[0]}}">
                  </ion-thumbnail>
                    <h2 *ngIf="alladsHide.company_name!='' && alladsHide.company_namear==''">{{alladsHide.company_name}}</h2>
                    <h2 *ngIf="alladsHide.company_name=='' && alladsHide.company_namear!=''">{{alladsHide.company_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{alladsHide.company_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{alladsHide.company_name}}</h2>
                    <p *ngIf="langData=='AR'">{{alladsHide.cat_namear}} > {{alladsHide.sub_cat_namear}}</p>
                    <p *ngIf="langData=='EN'">{{alladsHide.cat_name}} > {{alladsHide.sub_cat_name}}</p>
                  <p>{{alladsHide.updated_at  | timeAgo}}</p>
                  <button ion-button clear item-end style="background-color: #d9534f; color: white; margin: 0px 5px 0px 2px;">Hidden</button>
                </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="landline" (click)="edithComp(msgIndex)">
                      <ion-icon name="create"></ion-icon>
                      Edit
                    </button>
                    <button ion-button color="web" (click)="companyShow(alladsHide.id, msgIndex)">
                      <ion-icon name="eye"></ion-icon>
                      Show
                    </button>
                    <button ion-button color="danger" (click)="companyHideDelete(alladsHide.id, msgIndex)">
                      <ion-icon name="trash"></ion-icon>
                      Delete
                    </button>
                  </ion-item-options>
              </ion-item-sliding>
          </ion-list>


            <ion-item (click)="c_showComp4()">
                <ion-icon name="repeat" item-start></ion-icon>Re-Submitted Companies <ion-badge color="energy" item-end>{{dataSetCompRe.length}}</ion-badge>
                  <ion-icon name="arrow-down" item-end *ngIf="showComp4==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showComp4==false"></ion-icon>
              </ion-item>
              <ion-list style="margin: 0px 0px 0px;" *ngIf="showComp4==true">
                <ion-item *ngIf="dataSetCompRe.length==0" padding style="opacity: .5 !important;">
                  <ion-icon name="outlet" item-end></ion-icon>
                  <h2>Sorry , Nothing to Show !</h2>
                </ion-item>
                <ion-item-sliding *ngFor="let alladsRe of dataSetCompRe; let msgIndex = index">
                  <ion-item (click)="openReComp(msgIndex)">
                    <ion-thumbnail item-start>
                      <img src="https://www.oukazon.com/storage/companies/screenshot/small_{{alladsRe.screen_shot[0]}}">
                    </ion-thumbnail>
                    <h2 *ngIf="alladsRe.company_name!='' && alladsRe.company_namear==''">{{alladsRe.company_name}}</h2>
                    <h2 *ngIf="alladsRe.company_name=='' && alladsRe.company_namear!=''">{{alladsRe.company_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{alladsRe.company_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{alladsRe.company_name}}</h2>
                    <p *ngIf="langData=='AR'">{{alladsRe.cat_namear}} > {{alladsRe.sub_cat_namear}}</p>
                    <p *ngIf="langData=='EN'">{{alladsRe.cat_name}} > {{alladsRe.sub_cat_name}}</p>
                    <p>{{alladsRe.updated_at  | timeAgo}}</p>
                    <button ion-button clear item-end style="background-color: #5cb85c; color: white; margin: 0px 5px 0px 2px;">Re-submitted</button>
                  </ion-item>
                    <ion-item-options side="right">
                      <button ion-button color="danger" (click)="companyReSubmittedDelete(alladsRe.company_id, msgIndex)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                      </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </ion-list>






        <ion-list *ngSwitchCase="'ads'">

            <ion-item (click)="c_showAd()">
                <ion-icon name="paper" item-start></ion-icon>My Ads<ion-badge color="energy" item-end>{{dataSet.length}}</ion-badge>
                <ion-icon name="arrow-down" item-end *ngIf="showAd==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showAd==false"></ion-icon>
            </ion-item>

            <ion-list style="margin: 0px 0px 0px;" *ngIf="showAd==true">
                <ion-item *ngIf="dataSet.length==0" padding style="opacity: .5 !important;">
                    <ion-icon name="outlet" item-end></ion-icon>
                    <h2>Sorry , Nothing to Show !</h2>
                  </ion-item>
                <ion-item-sliding *ngFor="let allads of dataSet; let msgIndex = index">
                  <ion-item (click)="openAd(msgIndex)">
                    <ion-thumbnail item-start>
                      <img src="https://www.oukazon.com/storage/products/screenshot/small_{{allads.screen_shot[0]}}">
                      <p *ngIf="allads.urgent=='1'" style="background-color: #5cb85c; color: white; margin: 0px 0px 0px 0px; text-align: center;">Urgent</p>
                    </ion-thumbnail>
                    <h2 *ngIf="allads.product_name!='' && allads.product_namear==''">{{allads.product_name}}</h2>
                    <h2 *ngIf="allads.product_name=='' && allads.product_namear!=''">{{allads.product_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{allads.product_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{allads.product_name}}</h2>
                    <p *ngIf="langData=='AR'">{{allads.cat_namear}} > {{allads.sub_cat_namear}}</p>
                    <p *ngIf="langData=='EN'">{{allads.cat_name}} > {{allads.sub_cat_name}}</p>
                    <p>{{allads.updated_at  | timeAgo}}</p>
                    <p style="background-color: #662d91; color: white; margin: 0px 0px 0px 0px; text-align: center;">QAR {{allads.price}}</p>
                    <button ion-button clear *ngIf="allads.status=='active'" item-end style="background-color: #5cb85c; color: white; margin: 0px 5px 0px 2px;">Active</button>
                    <button ion-button clear *ngIf="allads.status=='pending'" item-end style="background-color: #f0ad4e; color: white; margin: 0px 5px 0px 2px;">Pending</button>
                    <button ion-button clear *ngIf="allads.status=='hide'" item-end style="background-color: #d9534f; color: white; margin: 0px 5px 0px 2px;">Hidden</button>
                  </ion-item>
                    <ion-item-options side="right">
                      <button ion-button color="landline" *ngIf="allads.status!='pending'" (click)="edit(msgIndex)">
                        <ion-icon name="create"></ion-icon>
                        Edit
                      </button>
                      <button ion-button color="greens" *ngIf="allads.status=='active'" (click)="ProductHide(allads.id, msgIndex)">
                        <ion-icon name="eye-off"></ion-icon>
                        Hide
                      </button>
                      <button ion-button color="web" *ngIf="allads.status=='hide'" (click)="ProductShow(allads.id, msgIndex)">
                        <ion-icon name="eye-off"></ion-icon>
                        Show
                        </button>
                      <button ion-button color="danger" (click)="ProductDelete(allads.id, msgIndex)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                      </button>
                      <button ion-button color="lightgrayy" *ngIf="allads.status=='active'" (click)="ProductRepost(allads.updated_at, allads.id, msgIndex)">
                        <ion-icon name="repeat"></ion-icon>
                        Repost
                      </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
          

            <ion-item (click)="c_showAd1()">
                <ion-icon name="heart" item-start></ion-icon>Favorite Ads<ion-badge color="energy" item-end>{{dataSetFav.length}}</ion-badge>
                  <ion-icon name="arrow-down" item-end *ngIf="showAd1==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showAd1==false"></ion-icon>
              </ion-item>
              <ion-list style="margin: 0px 0px 0px;" *ngIf="showAd1==true">
                  <ion-item *ngIf="dataSetFav.length==0" padding style="opacity: .5 !important;">
                      <ion-icon name="outlet" item-end></ion-icon>
                      <h2>Sorry , Nothing to Show !</h2>
                    </ion-item>
                <ion-item-sliding *ngFor="let alladsFav of dataSetFav; let msgIndex = index">
                  <ion-item (click)="openFavAd(msgIndex)">
                    <ion-thumbnail item-start>
                      <img src="https://www.oukazon.com/storage/products/screenshot/small_{{alladsFav.screen_shot[0]}}">
                      <p *ngIf="alladsFav.urgent=='1'" style="background-color: #5cb85c; color: white; margin: 0px 0px 0px 0px; text-align: center;">Urgent</p>
                    </ion-thumbnail>
                    <h2 *ngIf="alladsFav.product_name!='' && alladsFav.product_namear==''">{{alladsFav.product_name}}</h2>
                    <h2 *ngIf="alladsFav.product_name=='' && alladsFav.product_namear!=''">{{alladsFav.product_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{alladsFav.product_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{alladsFav.product_name}}</h2>
                    <p *ngIf="langData=='AR'">{{alladsFav.cat_namear}} > {{alladsFav.sub_cat_namear}}</p>
                    <p *ngIf="langData=='EN'">{{alladsFav.cat_name}} > {{alladsFav.sub_cat_name}}</p>
                    <p>{{alladsFav.updated_at  | timeAgo}}</p>
                    <p style="background-color: #662d91; color: white; margin: 0px 0px 0px 0px; text-align: center;">QAR {{alladsFav.price}}</p>
                    <button ion-button clear item-end><ion-icon name="heart" color="danger"></ion-icon></button>
                  </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="ProductFavDelete(alladsFav.id, msgIndex)">
                      <ion-icon name="heart-outline"></ion-icon>
                      Delete Fav
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
            </ion-list>


            <ion-item (click)="c_showAd2()">
                <ion-icon name="time" item-start></ion-icon>Pending Ads<ion-badge color="energy" item-end>{{dataSetPending.length}}</ion-badge>
                <ion-icon name="arrow-down" item-end *ngIf="showAd2==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showAd2==false"></ion-icon>
            </ion-item>
            <ion-list style="margin: 0px 0px 0px;" *ngIf="showAd2==true">
                <ion-item *ngIf="dataSetPending.length==0" padding style="opacity: .5 !important;">
                    <ion-icon name="outlet" item-end></ion-icon>
                    <h2>Sorry , Nothing to Show !</h2>
                  </ion-item>
              <ion-item-sliding *ngFor="let alladsPending of dataSetPending; let msgIndex = index">
                <ion-item (click)="openPendingAd(msgIndex)">
                  <ion-thumbnail item-start>
                    <img src="https://www.oukazon.com/storage/products/screenshot/small_{{alladsPending.screen_shot[0]}}">
                    <p *ngIf="alladsPending.urgent=='1'" style="background-color: #5cb85c; color: white; margin: 0px 0px 0px 0px; text-align: center;">Urgent</p>
                  </ion-thumbnail>
                    <h2 *ngIf="alladsPending.product_name!='' && alladsPending.product_namear==''">{{alladsPending.product_name}}</h2>
                    <h2 *ngIf="alladsPending.product_name=='' && alladsPending.product_namear!=''">{{alladsPending.product_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{alladsPending.product_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{alladsPending.product_name}}</h2>
                    <p *ngIf="langData=='AR'">{{alladsPending.cat_namear}} > {{alladsPending.sub_cat_namear}}</p>
                    <p *ngIf="langData=='EN'">{{alladsPending.cat_name}} > {{alladsPending.sub_cat_name}}</p>
                  <p>{{alladsPending.updated_at  | timeAgo}}</p>
                  <p style="background-color: #662d91; color: white; margin: 0px 0px 0px 0px; text-align: center;">QAR {{alladsPending.price}}</p>
                  <button ion-button clear item-end style="background-color: #f0ad4e; color: white; margin: 0px 5px 0px 2px;">Pending</button>
                </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="ProductPendingDelete(alladsPending.id, msgIndex)">
                      <ion-icon name="trash"></ion-icon>
                      Delete
                    </button>
                  </ion-item-options>
              </ion-item-sliding>
          </ion-list>


            <ion-item (click)="c_showAd3()">
                <ion-icon name="eye-off" item-start></ion-icon>Hidden Ads <ion-badge color="energy" item-end>{{dataSetHide.length}}</ion-badge>
                <ion-icon name="arrow-down" item-end *ngIf="showAd3==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showAd3==false"></ion-icon>
            </ion-item>
            <ion-list style="margin: 0px 0px 0px;" *ngIf="showAd3==true">
                <ion-item *ngIf="dataSetHide.length==0" padding style="opacity: .5 !important;">
                    <ion-icon name="outlet" item-end></ion-icon>
                    <h2>Sorry , Nothing to Show !</h2>
                  </ion-item>
              <ion-item-sliding *ngFor="let alladsHide of dataSetHide; let msgIndex = index">
                <ion-item style="opacity: .5 !important;" (click)="openHiddenAd(msgIndex)">
                  <ion-thumbnail item-start>
                    <img src="https://www.oukazon.com/storage/products/screenshot/small_{{alladsHide.screen_shot[0]}}">
                    <p *ngIf="alladsHide.urgent=='1'" style="background-color: #5cb85c; color: white; margin: 0px 0px 0px 0px; text-align: center;">Urgent</p>
                  </ion-thumbnail>
                    <h2 *ngIf="alladsHide.product_name!='' && alladsHide.product_namear==''">{{alladsHide.product_name}}</h2>
                    <h2 *ngIf="alladsHide.product_name=='' && alladsHide.product_namear!=''">{{alladsHide.product_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{alladsHide.product_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{alladsHide.product_name}}</h2>
                    <p *ngIf="langData=='AR'">{{alladsHide.cat_namear}} > {{alladsHide.sub_cat_namear}}</p>
                    <p *ngIf="langData=='EN'">{{alladsHide.cat_name}} > {{alladsHide.sub_cat_name}}</p>
                  <p>{{alladsHide.updated_at  | timeAgo}}</p>
                  <p style="background-color: #662d91; color: white; margin: 0px 0px 0px 0px; text-align: center;">QAR {{alladsHide.price}}</p>
                  <button ion-button clear item-end style="background-color: #d9534f; color: white; margin: 0px 5px 0px 2px;">Hidden</button>
                </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="landline" (click)="edith(msgIndex)">
                      <ion-icon name="create"></ion-icon>
                      Edit
                    </button>
                    <button ion-button color="web" (click)="ProductShow(alladsHide.id, msgIndex)">
                      <ion-icon name="eye"></ion-icon>
                      Show
                    </button>
                    <button ion-button color="danger" (click)="ProductHideDelete(alladsHide.id, msgIndex)">
                      <ion-icon name="trash"></ion-icon>
                      Delete
                    </button>
                  </ion-item-options>
              </ion-item-sliding>
          </ion-list>


            <ion-item (click)="c_showAd4()">
                <ion-icon name="repeat" item-start></ion-icon>Re-Submitted Ads <ion-badge color="energy" item-end>{{dataSetRe.length}}</ion-badge>
                  <ion-icon name="arrow-down" item-end *ngIf="showAd4==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showAd4==false"></ion-icon>
              </ion-item>
              <ion-list style="margin: 0px 0px 0px;" *ngIf="showAd4==true">
                <ion-item *ngIf="dataSetRe.length==0" padding style="opacity: .5 !important;">
                  <ion-icon name="outlet" item-end></ion-icon>
                  <h2>Sorry , Nothing to Show !</h2>
                </ion-item>
                <ion-item-sliding *ngFor="let alladsRe of dataSetRe; let msgIndex = index">
                  <ion-item (click)="openReAd(msgIndex)">
                    <ion-thumbnail item-start>
                      <img src="https://www.oukazon.com/storage/products/screenshot/small_{{alladsRe.screen_shot[0]}}">
                      <p *ngIf="alladsRe.urgent=='1'" style="background-color: #5cb85c; color: white; margin: 0px 0px 0px 0px; text-align: center;">Urgent</p>
                    </ion-thumbnail>
                    <h2 *ngIf="alladsRe.product_name!='' && alladsRe.product_namear==''">{{alladsRe.product_name}}</h2>
                    <h2 *ngIf="alladsRe.product_name=='' && alladsRe.product_namear!=''">{{alladsRe.product_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{alladsRe.product_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{alladsRe.product_name}}</h2>
                    <p *ngIf="langData=='AR'">{{alladsRe.cat_namear}} > {{alladsRe.sub_cat_namear}}</p>
                    <p *ngIf="langData=='EN'">{{alladsRe.cat_name}} > {{alladsRe.sub_cat_name}}</p>
                    <p>{{alladsRe.updated_at  | timeAgo}}</p>
                    <p style="background-color: #662d91; color: white; margin: 0px 0px 0px 0px; text-align: center;">QAR {{alladsRe.price}}</p>
                    <button ion-button clear item-end style="background-color: #5cb85c; color: white; margin: 0px 5px 0px 2px;">Re-submitted</button>
                  </ion-item>
                    <ion-item-options side="right">
                      <button ion-button color="danger" (click)="ProductReSubmittedDelete(alladsRe.product_id, msgIndex)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                      </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

        </ion-list>






      <ion-list *ngSwitchCase="'ques'">
          <ion-item (click)="c_showAsk()">
              <ion-icon name="paper" item-start></ion-icon>My Questions<ion-badge color="energy" item-end>{{dataSetAsk.length}}</ion-badge>
              <ion-icon name="arrow-down" item-end *ngIf="showAsk==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showAsk==false"></ion-icon>
          </ion-item>

          <ion-list style="margin: 0px 0px 0px;" *ngIf="showAsk==true">
              <ion-item *ngIf="dataSetAsk.length==0" padding style="opacity: .5 !important;">
                  <ion-icon name="outlet" item-end></ion-icon>
                  <h2>Sorry , Nothing to Show !</h2>
                </ion-item>
              <ion-item-sliding *ngFor="let allads of dataSetAsk; let msgIndex = index">
                <ion-item (click)="openAsk(msgIndex)">
                  <ion-thumbnail item-start>
                    <img *ngIf="allads.screen_shot!=''" src="https://www.oukazon.com/storage/questions/screenshot/small_{{allads.screen_shot[0]}}">
                    <img *ngIf="allads.screen_shot==''" src="https://www.oukazon.com/storage/questions/screenshot/small_default.jpg">
                  </ion-thumbnail>
                    <h2 *ngIf="allads.question_name!='' && allads.product_namear==''">{{allads.question_name}}</h2>
                    <h2 *ngIf="allads.question_name=='' && allads.product_namear!=''">{{allads.question_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{allads.question_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{allads.question_name}}</h2>
                  <p>{{allads.updated_at  | timeAgo}}</p>
                  <button ion-button clear *ngIf="allads.status=='active'" item-end style="background-color: #5cb85c; color: white; margin: 0px 5px 0px 2px;">Active</button>
                  <button ion-button clear *ngIf="allads.status=='pending'" item-end style="background-color: #f0ad4e; color: white; margin: 0px 5px 0px 2px;">Pending</button>
                  <button ion-button clear *ngIf="allads.status=='hide'" item-end style="background-color: #d9534f; color: white; margin: 0px 5px 0px 2px;">Hidden</button>
                </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="landline" *ngIf="allads.status!='pending'" (click)="editAsk(msgIndex)">
                      <ion-icon name="create"></ion-icon>
                      Edit
                    </button>
                    <button ion-button color="greens" *ngIf="allads.status=='active'" (click)="questionHide(allads.id, msgIndex)">
                      <ion-icon name="eye-off"></ion-icon>
                      Hide
                    </button>
                    <button ion-button color="web" *ngIf="allads.status=='hide'" (click)="questionShow(allads.id, msgIndex)">
                      <ion-icon name="eye-off"></ion-icon>
                      Show
                      </button>
                    <button ion-button color="danger" (click)="questionDelete(allads.id, msgIndex)">
                      <ion-icon name="trash"></ion-icon>
                      Delete
                    </button>
                    <button ion-button color="lightgrayy" *ngIf="allads.status=='active'" (click)="questionRepost(allads.updated_at, allads.id, msgIndex)">
                      <ion-icon name="repeat"></ion-icon>
                      Repost
                    </button>
                  </ion-item-options>
              </ion-item-sliding>
          </ion-list>


          <ion-item (click)="c_showAsk2()">
              <ion-icon name="time" item-start></ion-icon>Pending Questions<ion-badge color="energy" item-end>{{dataSetAskPending.length}}</ion-badge>
              <ion-icon name="arrow-down" item-end *ngIf="showAsk2==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showAsk2==false"></ion-icon>
          </ion-item>
          <ion-list style="margin: 0px 0px 0px;" *ngIf="showAsk2==true">
              <ion-item *ngIf="dataSetAskPending.length==0" padding style="opacity: .5 !important;">
                  <ion-icon name="outlet" item-end></ion-icon>
                  <h2>Sorry , Nothing to Show !</h2>
                </ion-item>
            <ion-item-sliding *ngFor="let alladsPending of dataSetAskPending; let msgIndex = index">
              <ion-item (click)="openPendingAsk(msgIndex)">
                <ion-thumbnail item-start>
                    <img *ngIf="alladsPending.screen_shot!=''" src="https://www.oukazon.com/storage/questions/screenshot/small_{{allads.screen_shot[0]}}">
                    <img *ngIf="alladsPending.screen_shot==''" src="https://www.oukazon.com/storage/questions/screenshot/small_default.jpg">
                </ion-thumbnail>
                    <h2 *ngIf="alladsPending.question_name!='' && alladsPending.product_namear==''">{{alladsPending.question_name}}</h2>
                    <h2 *ngIf="alladsPending.question_name=='' && alladsPending.product_namear!=''">{{alladsPending.question_namear}}</h2>
                    <h2 *ngIf="langData=='AR'">{{alladsPending.question_namear}}</h2>
                    <h2 *ngIf="langData=='EN'">{{alladsPending.question_name}}</h2>
                <p>{{alladsPending.updated_at  | timeAgo}}</p>
                <button ion-button clear item-end style="background-color: #f0ad4e; color: white; margin: 0px 5px 0px 2px;">Pending</button>
              </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="landline">
                    <ion-icon name="create"></ion-icon>
                    Edit
                  </button>
                  <button ion-button color="danger" (click)="questionPendingDelete(alladsPending.id, msgIndex)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                  </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>


          <ion-item (click)="c_showAsk3()">
              <ion-icon name="eye-off" item-start></ion-icon>Hidden Questions <ion-badge color="energy" item-end>{{dataSetAskHide.length}}</ion-badge>
              <ion-icon name="arrow-down" item-end *ngIf="showAsk3==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showAsk3==false"></ion-icon>
          </ion-item>
          <ion-list style="margin: 0px 0px 0px;" *ngIf="showAsk3==true">
              <ion-item *ngIf="dataSetAskHide.length==0" padding style="opacity: .5 !important;">
                  <ion-icon name="outlet" item-end></ion-icon>
                  <h2>Sorry , Nothing to Show !</h2>
                </ion-item>
            <ion-item-sliding *ngFor="let alladsHide of dataSetAskHide; let msgIndex = index">
              <ion-item style="opacity: .5 !important;" (click)="openHiddenAsk(msgIndex)">
                <ion-thumbnail item-start>
                    <img *ngIf="alladsHide.screen_shot!=''" src="https://www.oukazon.com/storage/questions/screenshot/small_{{allads.screen_shot[0]}}">
                    <img *ngIf="alladsHide.screen_shot==''" src="https://www.oukazon.com/storage/questions/screenshot/small_default.jpg">
                </ion-thumbnail>
                <h2 *ngIf="alladsHide.question_name!='' && alladsHide.product_namear==''">{{alladsHide.question_name}}</h2>
                <h2 *ngIf="alladsHide.question_name=='' && alladsHide.product_namear!=''">{{alladsHide.question_namear}}</h2>
                <h2 *ngIf="langData=='AR'">{{alladsHide.question_namear}}</h2>
                <h2 *ngIf="langData=='EN'">{{alladsHide.question_name}}</h2>
                <p>{{alladsHide.updated_at  | timeAgo}}</p>
                <button ion-button clear item-end style="background-color: #d9534f; color: white; margin: 0px 5px 0px 2px;">Hidden</button>
              </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="landline" (click)="edithAsk(msgIndex)">
                    <ion-icon name="create"></ion-icon>
                    Edit
                  </button>
                  <button ion-button color="web" (click)="questionShow(alladsHide.id, msgIndex)">
                    <ion-icon name="eye"></ion-icon>
                    Show
                  </button>
                  <button ion-button color="danger" (click)="questionHideDelete(alladsHide.id, msgIndex)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                  </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>


          <ion-item (click)="c_showAsk4()">
              <ion-icon name="repeat" item-start></ion-icon>Re-Submitted Questions <ion-badge color="energy" item-end>{{dataSetAskRe.length}}</ion-badge>
                <ion-icon name="arrow-down" item-end *ngIf="showAsk4==true"></ion-icon><ion-icon name="arrow-forward" item-end *ngIf="showAsk4==false"></ion-icon>
            </ion-item>
            <ion-list style="margin: 0px 0px 0px;" *ngIf="showAsk4==true">
              <ion-item *ngIf="dataSetAskRe.length==0" padding style="opacity: .5 !important;">
                <ion-icon name="outlet" item-end></ion-icon>
                <h2>Sorry , Nothing to Show !</h2>
              </ion-item>
              <ion-item-sliding *ngFor="let alladsRe of dataSetAskRe; let msgIndex = index">
                <ion-item (click)="openReAsk(msgIndex)">
                  <ion-thumbnail item-start>
                      <img *ngIf="alladsRe.screen_shot!=''" src="https://www.oukazon.com/storage/questions/screenshot/small_{{alladsRe.screen_shot[0]}}">
                      <img *ngIf="alladsRe.screen_shot==''" src="https://www.oukazon.com/storage/questions/screenshot/small_default.jpg">
                  </ion-thumbnail>
                  <h2 *ngIf="alladsRe.question_name!='' && alladsRe.product_namear==''">{{alladsRe.question_name}}</h2>
                  <h2 *ngIf="alladsRe.question_name=='' && alladsRe.product_namear!=''">{{alladsRe.question_namear}}</h2>
                  <h2 *ngIf="langData=='AR'">{{alladsRe.question_namear}}</h2>
                  <h2 *ngIf="langData=='EN'">{{alladsRe.question_name}}</h2>
                  <p>{{alladsRe.updated_at  | timeAgo}}</p>
                  <button ion-button clear item-end style="background-color: #5cb85c; color: white; margin: 0px 5px 0px 2px;">Re-submitted</button>
                </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="questionReSubmittedDelete(alladsRe.question_id, msgIndex)">
                      <ion-icon name="trash"></ion-icon>
                      Delete
                    </button>
                  </ion-item-options>
              </ion-item-sliding>
          </ion-list>
        </ion-list>
      </div>
  </div>

</ion-content>
