<ion-header>
  <ion-navbar>
    <ion-title>Post Your Ad</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #FFFFFF !important;">
  <ion-buttons float-end class="current-location">
    <button ion-button icon-only (click)="requestAccuracy()">
      <img src="./assets/icon/current-location.png" alt="">
    </button>
  </ion-buttons>

  <ion-searchbar autocorrect="off" autocapitalize="off" spellcheck="off" #searchbar placeholder="Search..." class="search-box"></ion-searchbar>

  <div #map id="map" class="map"></div>
  <div class="centerMarker"></div>
  <div class="address-view">
    <ion-list style="margin: -1px 0 0px;">
      <ion-item-divider>Use Search box OR Drag map to select Address</ion-item-divider>
      <ion-item no-lines class="address-item">
        <ion-label stacked class="title-label">ADDRESS</ion-label>
        <ion-textarea class="address" [(ngModel)]="address"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>

  <ion-item-divider color="lighter">Product Title</ion-item-divider>
  <ion-item>
    <ion-input type="text" placeholder="Arabic Title" [(ngModel)]="adData.product_namear"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="English Title" [(ngModel)]="adData.product_name"></ion-input>
  </ion-item>

  <ion-item-divider color="lighter">Product Description</ion-item-divider>
  <ion-item>
    <ion-textarea placeholder="Arabic description" [(ngModel)]="adData.descriptionar"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="English description" [(ngModel)]="adData.description"></ion-textarea>
  </ion-item>

  <ion-item-divider color="lighter">Tags</ion-item-divider>
  <ion-item>
    <ion-input type="text" placeholder="Ex: car, ac, mobile, villa" [(ngModel)]="adData.tag"></ion-input>
  </ion-item>




  <ion-item-divider *ngIf="customList != ''" color="lighter">Additional Info</ion-item-divider>
  <span *ngFor="let custom of customList; let i = index; trackBy:trackByIndex">

    <ion-item>
      <ion-label style="display: inline-table" color="primary">{{custom.custom_title}}</ion-label>
      <ion-input style="width: 70%" type="custom.custom_type" [(ngModel)]="custom_select[i]" *ngIf="custom.custom_type=='text'"></ion-input>
      <ion-textarea *ngIf="custom.custom_type=='textarea'" [(ngModel)]="custom_select[i]"></ion-textarea>

      <ion-select *ngIf="custom.custom_type == 'select'" [(ngModel)]="custom_select[i]">
        <ion-option *ngFor="let select1 of custom.custom_options" value="{{select1}}">{{select1}}</ion-option>
      </ion-select>
      <ion-select *ngIf="custom.custom_type == 'checkbox'" [(ngModel)]="custom_select[i]" multiple="true">
        <ion-option *ngFor="let select1 of custom.custom_options" value="{{select1}}">{{select1}}</ion-option>
      </ion-select>
      <ion-select *ngIf="custom.custom_type == 'radio'" [(ngModel)]="custom_select[i]">
        <ion-option *ngFor="let select1 of custom.custom_options" value="{{select1}}">{{select1}}</ion-option>
      </ion-select>
    </ion-item>
  </span>

  <ion-item-divider color="lighter">Photos</ion-item-divider>
  <div class="card-background-page">
    <button ion-button icon-left full (click)="presentActionSheet()">
      <ion-icon name="images"></ion-icon>Select Photos
    </button>
    <ion-item-divider [hidden]="lastImage !== null">Please Select Photos! Max 5 Photos</ion-item-divider>
    <ion-grid style="background-color: #ffffff;">
      <ion-row>
        <ion-col col-4 *ngFor="let photo of photos; let id = index" style="padding: 0px;">
          <ion-card style="margin: 1px;width: calc(100% - 5px);">
            <button ion-button icon-left small (click)="deletePhoto(id)">
              <ion-icon name="trash" class="deleteIcon"> </ion-icon> DELETE
            </button>
            <img src="{{pathForImage(photo)}}" [hidden]="lastImage === null" />
          </ion-card>
        </ion-col>
        <ion-input type="text" value="{{photos}}" [(ngModel)]="adData.screen_shot" hidden></ion-input>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item-divider color="lighter">City</ion-item-divider>
  <ion-item>
    <select-searchable title="Where ?" [(ngModel)]="locationData.cc" [items]="cityList" itemValueField="city_id" itemTextField="city_name"
      [canSearch]="true">
    </select-searchable>
  </ion-item>





  <ion-item-divider color="lighter">Price</ion-item-divider>
  <ion-item no-lines>
    <ion-input type="number" placeholder="QAR 99999999" [(ngModel)]="adData.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="negotiable.value" (ionChange)="p_negotiable()"></ion-checkbox>
    <ion-label color="primary" stacked>Negotiable Price.</ion-label>
  </ion-item>

  <ion-item-divider color="lighter">Phone Number</ion-item-divider>
  <ion-item no-lines>
    <ion-input type="number" placeholder="+974 1234 5678" [(ngModel)]="adData.phone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="hide_phone.value" (ionChange)="h_phone()"></ion-checkbox>
    <ion-label color="primary" stacked>Hide the phone number.</ion-label>
  </ion-item>


  <ion-item-divider color="lighter">Contact Options</ion-item-divider>
  <ion-item-divider>Please specify how you would like to get
    <br> in touch with customers.</ion-item-divider>
  <ion-item no-lines>
    <ion-checkbox checked [(ngModel)]="contact_phone.value" (ionChange)="phone()"></ion-checkbox>
    <ion-label color="primary" stacked>By Phone</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-checkbox checked [(ngModel)]="contact_email.value" (ionChange)="email()"></ion-checkbox>
    <ion-label color="primary" stacked>By Email</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-checkbox checked [(ngModel)]="contact_chat.value" (ionChange)="chat()"></ion-checkbox>
    <ion-label color="primary" stacked>Instant Message</ion-label>
  </ion-item>



  <ion-item-divider color="lighter">Make your Ad Premium (Optional)</ion-item-divider>
  <ion-item-divider>Premium ads help sellers promote their
                <br>product or service by getting their ads
                <br>more visibility with more buyers and sell
                <br>what they want faster.</ion-item-divider>
  <ion-card>
    <ion-segment [(ngModel)]="my">
      <ion-segment-button value="pp">PayPal</ion-segment-button>
      <ion-segment-button value="op">Oukazoints</ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="my">
      <ion-list *ngSwitchCase="'pp'">
        <ion-item>
          <ion-checkbox [(ngModel)]="paypal.value" (ionChange)="p_paypal()"></ion-checkbox>
          <ion-label color="primary" stacked>Urgent Ad   | QAR {{urgent_fee}}</ion-label>
        </ion-item>
        <ion-item style="padding-left: 1px;">
          <ion-row>
            <ion-col col-6>
              <h3>Payable Amount : </h3>
            </ion-col>
            <ion-col col-6>
              <h2 *ngIf="paypal.value==false">QAR 0.0</h2>
              <h2 class="payment" *ngIf="paypal.value==true">QAR {{urgent_fee}}</h2>
            </ion-col>
          </ion-row>
          <p>Current Exchange rate USD / QAR is <Span class="payment">{{UQ}}</Span></p>
          <p>PayPal Payable Amount is <Span class="payment">{{amount}}</Span> USD</p>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'op'">
        <ion-item>
          <ion-checkbox *ngIf="urgent_fee_oukapoint > user_oukapoints" [(ngModel)]="oukapoints.value" (ionChange)="p_oukapoints()" disabled="true"></ion-checkbox>
          <ion-checkbox *ngIf="user_oukapoints >= urgent_fee_oukapoint" [(ngModel)]="oukapoints.value" (ionChange)="p_oukapoints()"></ion-checkbox>
          <ion-label color="primary" stacked>Urgent Ad | {{urgent_fee_oukapoint}} Oukapoints</ion-label>
        </ion-item>
        <ion-item style="padding-left: 1px;">
          <ion-row>
            <ion-col col-6>
              <h3>Payable Oukapoints : </h3>
            </ion-col>
            <ion-col col-6>
              <h2 *ngIf="oukapoints.value==false">0.0 Oukapoints</h2>
              <h2 class="payment" *ngIf="oukapoints.value==true">{{urgent_fee_oukapoint}} Oukapoints</h2>
            </ion-col>
          </ion-row>
          <p *ngIf="user_oukapoints >= urgent_fee_oukapoint">You have <Span class="payment">{{user_oukapoints}} Oukapoints</Span></p>
          <p *ngIf="urgent_fee_oukapoint > user_oukapoints">Sorry, You have Only <Span class="payment1">{{user_oukapoints}} Oukapoints</Span></p>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>





  <ion-item-divider color="lighter">Terms and Conditions</ion-item-divider>
  <ion-item>
    <ion-checkbox checked [(ngModel)]="agree.value" (ionChange)="agreeTerms()"></ion-checkbox>
    <ion-label color="primary" stacked>I agree to the terms and conditions</ion-label>
  </ion-item>
</ion-content>
<ion-footer>
  <button ion-button full icon-left (click)="postAsk()" style="margin: 0px 0px 0px 0px;" color="primary">
    <ion-icon name="checkmark"> </ion-icon> Post
  </button>
</ion-footer>