<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Ask OUKA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher no-lines (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="dots" refreshingText="Oukazoning...">
        </ion-refresher-content>
      </ion-refresher>
    <ion-card *ngFor="let question of questions; let i = index" id="card" (click)="showAsk(i)">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="question.userpic" />
          </ion-avatar>
          <h2>{{question.username}}</h2>
          <p>{{question.name}}</p>
        </ion-item>
        <ion-item no-lines>
          <ion-thumbnail item-start>
            <img *ngIf="question.pictures!=''" class="picture" [src]="question.screen_shot" />
            <img *ngIf="question.pictures==''" src="https://www.oukazon.com/storage/questions/screenshot/small_default.jpg">
          </ion-thumbnail>
          <h2 *ngIf="question.question_name!='' && question.question_namear==''">{{question.question_name}}</h2>
          <h2 *ngIf="question.question_name=='' && question.question_namear!=''">{{question.question_namear}}</h2>
          <h2 *ngIf="langData=='AR'">{{question.question_namear}}</h2>
          <h2 *ngIf="langData=='EN'">{{question.question_name}}</h2>
          <p>{{question.city_name}}</p>
        </ion-item>
        <ion-item text-wrap>
          <span class="text ellipsis">
              <p class="text-concat" *ngIf="question.question_name!='' && question.question_namear==''">{{question.description}}</p>
              <p class="text-concat" *ngIf="question.question_name=='' && question.question_namear!=''">{{question.descriptionar}}</p>
              <p class="text-concat" *ngIf="langData=='AR'">{{question.descriptionar}}</p>
              <p class="text-concat" *ngIf="langData=='EN'">{{question.description}}</p>
          </span>
        </ion-item>
        <ion-col style="text-align: center; padding: 0px">
          <button ion-button full icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{question.total_comments}} Comments</div>
          </button>
        </ion-col>
      </ion-card>
      <ion-card *ngIf="noRecordsAsk">
          <ion-item>
              <p><ion-icon name="infinite"></ion-icon> Thank You That's All, Folks! </p>
          </ion-item>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="doInfiniteAsk($event)"  *ngIf="!noRecordsAsk">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col col-4 style="padding: 0px 0px 0px 0px;">
      <button ion-button full small icon-left (click)="pushC()" style="margin: 0px 0px 0px 0px;" color="titleh1">
        <ion-icon name="folder"> </ion-icon> Directory
      </button>
    </ion-col>
    <ion-col col-4 style="padding: 0px 0px 0px 0px;">
      <button ion-button full small icon-left (click)="pushA()" style="margin: 0px 0px 0px 0px;" color="titleh1">
        <ion-icon name="cart"> </ion-icon> Classified Ads
      </button>
    </ion-col>
    <ion-col col-4 style="padding: 0px 0px 0px 0px;">
      <button ion-button full small icon-left style="margin: 0px 0px 0px 0px;" color="primary">
        <ion-icon name="help-circle"> </ion-icon> Ask Ouka
      </button>
    </ion-col>
  </ion-row>
</ion-footer>