<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        <ion-badge *ngIf="nbmsgs1 > 0" class="nbmsgs">{{nbmsgs1}}</ion-badge>
      </button>
    </ion-buttons>
    <ion-searchbar middle (click)="openModal()"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <h4 class="post_your">POST </h4>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light">
    <ion-segment [(ngModel)]="my">
      <ion-segment-button value="comps">Directory</ion-segment-button>
      <ion-segment-button value="ads">Classified Ads</ion-segment-button>
      <ion-segment-button value="ques">Ask OUKA</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-item-divider *ngIf="userDetails.email == ''" color="danger">Email Address Is Missing!</ion-item-divider>
    <ion-item-divider *ngIf="userDetails.name == ''" color="alerts">Full Name Is Missing !</ion-item-divider>
    <span *ngIf="userDetails.name == '' || userDetails.email == ''">
        <h6>Please Update Your Profile In Order To Exprience Full Functions of OUKAZON APP !</h6>
        <button color="greens" ion-button full item-end icon-left (click)="opensettings()">
            <ion-icon name="settings"></ion-icon>
            Update Profile
          </button>
        </span>
</ion-header>

<ion-content>
    
  <ion-refresher no-lines (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="dots" refreshingText="Oukazoning...">
    </ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="my">

    <ion-list *ngSwitchCase="'comps'">

      <ion-card class="comp" *ngFor="let company of companies; let i = index" id="card" (click)="showComp(i)">
        <img class="picture" [src]="company.screen_shot" />
        <div class="comp-title" *ngIf="company.company_name!='' && company.company_namear==''">{{company.company_name}}</div>
        <div class="comp-title" *ngIf="company.company_name=='' && company.company_namear!=''">{{company.company_namear}}</div>
        <div class="comp-title" *ngIf="langData=='AR'">{{company.company_namear}}</div>
        <div class="comp-title" *ngIf="langData=='EN'">{{company.company_name}}</div>
        <div class="comp-location">{{company.city_name}}</div>
        <div class="comp-cat" *ngIf="langData=='AR'">{{company.cat_namear}}</div>
        <div class="comp-cat" *ngIf="langData=='EN'">{{company.cat_name}}</div>
        <div class="comp-sub_cat" *ngIf="langData=='AR'">{{company.sub_cat_namear}}</div>
        <div class="comp-sub_cat" *ngIf="langData=='EN'">{{company.sub_cat_name}}</div>
        <ion-col style="padding: 0px">
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{company.total_comments}} Comments</div>
          </button>
        </ion-col>
      </ion-card>
      <ion-card *ngIf="noRecordsComp">
          <ion-item>
              <p><ion-icon name="infinite"></ion-icon> Thank You That's All, Folks! </p>
          </ion-item>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="doInfiniteComp($event)"  *ngIf="!noRecordsComp">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </ion-list>

    <ion-list *ngSwitchCase="'ads'">
      <ion-card *ngFor="let product of products; let i = index" id="card" (click)="showAd(i)">

        <ion-item>
          <ion-avatar item-start>
            <img [src]="product.userpic" />
          </ion-avatar>
          <h2>{{product.username}}</h2>
          <p>{{product.name}}</p>
        </ion-item>
        <p *ngIf="product.urgent==1" item-end style="background-color: #00ad79; color: white; margin: 0px 0px 0px 0px; text-align: center;">URGENT</p>
        <img class="picture" [src]="product.screen_shot" />


        <ion-card-content class="cnt">
          <h1 class="title" *ngIf="product.product_name!='' && product.product_namear==''">{{product.product_name}}</h1>
          <h1 class="title" *ngIf="product.product_name=='' && product.product_namear!=''">{{product.product_namear}}</h1>
          <h1 class="title" *ngIf="langData=='AR'">{{product.product_namear}}</h1>
          <h1 class="title" *ngIf="langData=='EN'">{{product.product_name}}</h1>
          {{product.city_name}} | {{product.created_at | timeAgo}}
        </ion-card-content>
        <ion-item style="height: fit-content">
            <i item-start class="{{product.icon}} fa20"></i>
            <h2 *ngIf="langData=='AR'">{{product.cat_namear}} > {{product.sub_cat_namear}}</h2>
            <h2 *ngIf="langData=='EN'">{{product.cat_name}} > {{product.sub_cat_name}}</h2>
        </ion-item>

        <ion-row class="row_price">
          <ion-col style="padding: 0px">
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>{{product.total_comments}} Comments</div>
            </button>
          </ion-col>
          <ion-col class="col_price">
            <div>{{product.currency_sign}} {{product.price}}
              <span class="nego" *ngIf="product.negotiable==1"> Negotiable</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card *ngIf="noRecords">
        <ion-item>
            <p><ion-icon name="infinite"></ion-icon> Thank You That's All, Folks! </p>
        </ion-item>
      </ion-card>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)"  *ngIf="!noRecords">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

    <ion-list *ngSwitchCase="'ques'">

      <ion-card *ngFor="let question of questions; let i = index" id="card" (click)="showAsk(i)">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="question.userpic" />
          </ion-avatar>
          <h2>{{question.username}}</h2>
          <p>{{question.name}}</p>
        </ion-item>
        <ion-item no-lines>
          <ion-thumbnail item-start>
            <img *ngIf="question.pictures!=''" class="picture" [src]="question.screen_shot" />
            <img *ngIf="question.pictures==''" src="https://www.oukazon.com/storage/questions/screenshot/small_default.jpg">
          </ion-thumbnail>
          <h2 *ngIf="question.question_name!='' && question.question_namear==''">{{question.question_name}}</h2>
          <h2 *ngIf="question.question_name=='' && question.question_namear!=''">{{question.question_namear}}</h2>
          <h2 *ngIf="langData=='AR'">{{question.question_namear}}</h2>
          <h2 *ngIf="langData=='EN'">{{question.question_name}}</h2>
          <p>{{question.city_name}}</p>
        </ion-item>
        <ion-item text-wrap>
          <span class="text ellipsis">
              <p class="text-concat" *ngIf="question.question_name!='' && question.question_namear==''">{{question.description}}</p>
              <p class="text-concat" *ngIf="question.question_name=='' && question.question_namear!=''">{{question.descriptionar}}</p>
              <p class="text-concat" *ngIf="langData=='AR'">{{question.descriptionar}}</p>
              <p class="text-concat" *ngIf="langData=='EN'">{{question.description}}</p>
            </span>
        </ion-item>
        <ion-col style="text-align: center; padding: 0px">
          <button ion-button full icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{question.total_comments}} Comments</div>
          </button>
        </ion-col>
      </ion-card>
      <ion-card *ngIf="noRecordsAsk">
          <ion-item>
              <p><ion-icon name="infinite"></ion-icon> Thank You That's All, Folks! </p>
          </ion-item>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="doInfiniteAsk($event)"  *ngIf="!noRecordsAsk">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </ion-list>
  </div>
</ion-content>