page-home {
    .row_price{
        text-align: center;
        height: 35px;
    }
    .text {
        position: relative;
        font-size: 14px;
        color: black;
        font-family: sans-serif;
        width: 100%; /* Could be anything you like. */
      }
      
      .text-concat {
        position: relative;
        display: inline-block;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
        line-height: 1.2em;
        text-align:justify;
      }
      
      .text.ellipsis::after {
        content: "...";
        position: absolute;
        right: -12px; 
        bottom: 5px;
      }
    ion-content {
        background-color: #cac7c7 !important;
    }
    #card{
        margin: 4px 0px 10px 0px;
        width: 100%;
    }
    .picture{
        background-position: center center;
        background-size: cover;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }
    .cnt{
        position: initial;
        margin-top: -75px;
        color: color($colors, titleh1);
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.99);
        top: 0;
        left: 0;
    }
    .title{
        font-weight: 500;
        color: color($colors, titleh1);
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.99);
    }
    .featured{
        background-color: #F1B500;
    }
    .urgent{
        background-color: #00ad79;
    }
    .highlight{
        background-color: #2196f3;
    }
    .col_price{
        background-color: color($colors, energy);
        text-align: center;
        height: 35px;
        padding: 0px;
        padding-top: 8px;
        font-size: 16px;
        font-weight: 600;
        color: rgb(230, 230, 230);
    }
    .nego{
        font-size: 8px;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .comp {
        position: relative;
        text-align: center;
      }
    
      .comp-title {
        position: absolute;
        top: 3%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: color($colors, titleh1);
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.99);
      }
      .comp-location {
        font-size: 1.0em;
        position: absolute;
        top: 66%;
        width: 100%;
        color: color($colors, titleh1);
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.99);
      }
      .comp-cat {
        font-size: 1.0em;
        position: absolute;
        top: 72%;
        width: 100%;
        color: color($colors, lighter);
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.99);
      }
      .comp-sub_cat {
        font-size: 1.0em;
        position: absolute;
        top: 78%;
        width: 100%;
        color: color($colors, lighter);
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.99);
      }
      .post_your{
        font-size: 1.5rem;
      }
}
.nbmsgs{
    padding: 3px 5px;
    position: fixed;
    left: 18px;
    bottom: 13px;
    background-color: #ed5454;
  }

