<ion-content>
  <ion-navbar>
      <ion-title *ngIf="ask.question_name!='' && ask.question_namear==''">{{ask.question_name}}</ion-title>
      <ion-title *ngIf="ask.question_name=='' && ask.question_namear!=''">{{ask.question_namear}}</ion-title>

      <ion-title *ngIf="langData=='EN'">{{ask.question_name}}</ion-title>
      <ion-title *ngIf="langData=='AR'">{{ask.question_namear}}</ion-title>
    </ion-navbar>
  <ion-item>
    <ion-avatar item-start>
      <img [src]="ask.userpic" />
    </ion-avatar>
    <h2>{{ask.username}}</h2>
    <p>{{ask.name}}</p>
  </ion-item>
  <p *ngIf="ask.status=='pending'" item-end style="background-color: #f0ad4e; color: white; margin: 0px 0px 0px 0px; text-align: center;">Pending</p>
  <p *ngIf="ask.status=='hide'" item-end style="background-color: #d9534f; color: white; margin: 0px 0px 0px 0px; text-align: center;">Hidden</p>

  <ion-slides class="sld" autoplay="3000" pager loop="true" paginationType="bullets" *ngIf="ask.pictures!=''">
    <ion-slide *ngFor="let img of ask.pictures">
      <img src="https://www.oukazon.com/storage/questions/screenshot/{{img}}" imageViewer>
    </ion-slide>
  </ion-slides>

  <ion-row class="row_price">
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="time"></ion-icon>
        <div>{{ask.created_at | timeAgo}} </div>
      </button>
    </ion-col>
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="eye"></ion-icon>
        <div>{{ask.view}} </div>
      </button>
    </ion-col>
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{ask.total_comments}} </div>
      </button>
    </ion-col>
    <ion-col class="colcol">
      <button class="btn" ion-button icon-left clear small>
        <ion-icon name="pin"></ion-icon>
        <div>{{ask.location}} </div>
      </button>
    </ion-col>
  </ion-row>



  <span *ngIf="userDetails.name == '' || userDetails.email == ''">
    <h4>Please Update Your Profile In Order To Call or Chat with the Owner !</h4>
<button color="greens" ion-button full item-end icon-left (click)="opensettings()">
    <ion-icon name="settings"></ion-icon>
    Update Profile
  </button>
</span>
<ion-grid *ngIf="userDetails.name != '' && userDetails.email != ''">
<ion-row><ion-col col-6 *ngIf="userDetails.id != ask.user_id"><button color="call" small ion-button full item-end icon-left (click)="makecall()"><ion-icon name="call"></ion-icon>
      Call
</button></ion-col>
<ion-col col-6 *ngIf="userDetails.id != ask.user_id"><button color="danger" small ion-button full item-end icon-left (click)="chat()"><ion-icon name="chatboxes"></ion-icon>
      Chat
</button></ion-col></ion-row>
</ion-grid>
<ion-grid *ngIf="userDetails.name == '' || userDetails.email == ''">
  <ion-row><ion-col col-6 *ngIf="userDetails.id != ask.user_id"><button color="call" small ion-button full item-end icon-left (click)="makecall()" disabled><ion-icon name="call"></ion-icon>
        Call
  </button></ion-col>
  <ion-col col-6 *ngIf="userDetails.id != ask.user_id"><button color="danger" small ion-button full item-end icon-left (click)="chat()" disabled><ion-icon name="chatboxes"></ion-icon>
        Chat
  </button></ion-col></ion-row>
</ion-grid>



    <div #askmap id="oukazon-askmap"></div>
  <ion-card>
      <ion-card-content>
      <h2 *ngIf="ask.question_name!='' && ask.question_namear==''">{{ask.question_name}}</h2>
      <h2 *ngIf="ask.question_name=='' && ask.question_namear!=''">{{ask.question_namear}}</h2>
      <h2 *ngIf="langData=='AR'">{{ask.question_namear}}</h2>
      <h2 *ngIf="langData=='EN'">{{ask.question_name}}</h2>
      </ion-card-content>

    <ion-card-header>
      Description
    </ion-card-header>
    <ion-card-content *ngIf="ask.description!='' && ask.descriptionar==''">{{ask.description}}</ion-card-content>
    <ion-card-content *ngIf="ask.description=='' && ask.descriptionar!=''">{{ask.descriptionar}}</ion-card-content>
    <ion-card-content *ngIf="langData=='AR'">{{ask.descriptionar}}</ion-card-content>
    <ion-card-content *ngIf="langData=='EN'">{{ask.description}}</ion-card-content>

    <ion-card-header *ngIf="ask.tag!=''">
      Tags
    </ion-card-header>
    <ion-card-content *ngIf="ask.tag!=''">
      <button class="btn-tag" ion-button color="energy" outline *ngFor="let tags of ask.tag">{{tags}}</button>
    </ion-card-content>
    <ion-card-header *ngIf="ask.custom_fields!=''">
      {{ask.checkbox_title}}
    </ion-card-header>
    <ion-card-content *ngIf="ask.custom_fields!=''">
      <ion-row class="check-box" *ngFor="let value of ask.checkbox_value">
        <ion-checkbox color="primary" disabled="true" checked="true"></ion-checkbox>
        {{value}}
      </ion-row>
    </ion-card-content>
    <ion-list class="list-head" *ngIf="ask.custom_fields!=''">
      <ion-list-header>
        Additional Details
      </ion-list-header>
      <ion-item class="custom-box" *ngFor="let custom of ask.custom">
        {{custom.title}}
        <ion-note item-end>{{custom.value}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card id="commentbox">
    <h2>All Comments({{dataCount}})</h2>
   
   <div *ngFor="let comment of dataSet ,let i = index">
      <ion-item>
        <ion-avatar item-start>
          <img src="https://www.oukazon.com/storage/profile/small_{{comment.userimage}}">
        </ion-avatar>
        <h2>{{comment.username}}</h2>
        <p>{{comment.date | timeAgo}}</p>
        <button *ngIf="comment.index == true" item-end ion-button icon-left clear small (click)="del_ids(i)"> <ion-icon color="primary" name="thumbs-up" ></ion-icon>
          <div >{{comment.NbLikes}}</div></button>
      
      <button *ngIf="comment.index == false" item-end ion-button icon-left clear small (click)="set_ids(i)"> <ion-icon color="lighter" name="thumbs-up" ></ion-icon>
          <div >{{comment.NbLikes}}</div></button>
      </ion-item>
      <ion-card-content>
        <p>{{comment.text}}</p>
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-item-divider *ngIf="userDetails.email == ''" color="danger">Email Address Is Missing!</ion-item-divider>
    <ion-item-divider *ngIf="userDetails.name == ''" color="alerts">Full Name Is Missing !</ion-item-divider>
    <span *ngIf="userDetails.name == '' || userDetails.email == ''">
        <h4>Please Update Your Profile In Order To Comment !</h4>
    <button color="greens" ion-button full item-end icon-left (click)="opensettings()">
        <ion-icon name="settings"></ion-icon>
        Update Profile
      </button>
      <button ion-button small full (click)="postComment()" disabled>POST COMMENT</button>
    </span>
    <ion-row class="cmnts">
    <ion-col col-10>
      <ion-input *ngIf="userDetails.name != '' && userDetails.email != ''" #commentbox name="text" placeholder="ENTER A BRIEF COMMENT" [(ngModel)]="userPostDataAsk.text"></ion-input>
    </ion-col>
    <ion-col>
      <button class="butt" *ngIf="userDetails.name != '' && userDetails.email != ''" ion-button clear small (click)="postComment()"><ion-icon class="send" name="send"></ion-icon></button>
    </ion-col>
  </ion-row>
</ion-footer>