<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Account Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item id="menu_header" no-lines>
    <ion-avatar item-start>
      <img src="https://www.oukazon.com/storage/profile/small_{{userDetails.image}}" class="dp">
    </ion-avatar>
    <h2 *ngIf="userDetails.name == ''" class="user-name">{{userDetails.username}}</h2>
    <h2 *ngIf="userDetails.name != ''" class="user-name">{{userDetails.name}}</h2>
    <p *ngIf="userDetails.email == ''" class="user-name">{{userDetails.phone}}</p>
    <p *ngIf="userDetails.email != ''" class="user-name">{{userDetails.email}}</p>
  </ion-item>


  <ion-item-divider *ngIf="userDetails.name == ''" color="energy">About | {{userDetails.username}}</ion-item-divider>
  <ion-item-divider *ngIf="userDetails.name != ''" color="energy">About | {{userDetails.name}}</ion-item-divider>
  <ion-item>
      <ion-label *ngIf="userDetails.name == ''" color="danger" floating>Full Name  (REQUIRED</ion-label>
      <ion-label *ngIf="userDetails.name != ''" floating>Full Name</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Phone</ion-label>
    <ion-input type="number" [(ngModel)]="userDetails.phone"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label *ngIf="userDetails.email == ''" color="danger" floating>Email (REQUIRED)</ion-label>
      <ion-label *ngIf="userDetails.email != ''" floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="userDetails.email" ></ion-input>
    </ion-item>

  <ion-item>
    <ion-label floating>PostCode</ion-label>
    <ion-input type="number" [(ngModel)]="userDetails.postcode"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Address</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>City</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.city"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Country</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.country"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Profile TagLine</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.tagline"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>About Me</ion-label>
    <ion-textarea type="text" [(ngModel)]="userDetails.description"></ion-textarea>
  </ion-item>



  <ion-item-divider *ngIf="userDetails.name == ''" color="energy">Social Networks | {{userDetails.username}}</ion-item-divider>
  <ion-item-divider *ngIf="userDetails.name != ''" color="energy">Social Networks | {{userDetails.name}}</ion-item-divider>
  <ion-item>
    <ion-label floating>Facebook</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.facebook"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Twitter</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.twitter"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Google+</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.googleplus"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Instagram</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.instagram"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>LinkedIn</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.linkedin"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>YouTube</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.youtube"></ion-input>
  </ion-item>

  <ion-item padding no-lines>
  <button ion-button icon-left full small (click)="edit()" style="margin: 0px 0px 0px 0px;" color="primary">
    <ion-icon name="checkmark"> </ion-icon> Update Informations
  </button>
  </ion-item>

  <ion-item-divider *ngIf="userDetails.name == ''" color="energy">Account Settings | {{userDetails.username}}</ion-item-divider>
  <ion-item-divider *ngIf="userDetails.name != ''" color="energy">Account Settings | {{userDetails.name}}</ion-item-divider>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="userDetails.email" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>UserName</ion-label>
    <ion-input type="text" [(ngModel)]="userDetails.username" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Your Password</ion-label>
    <ion-input type="password" [(ngModel)]="passData.ps"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>New Password</ion-label>
    <ion-input type="password" [(ngModel)]="passData.ps1"></ion-input>
  </ion-item>

  <ion-item padding no-lines>
    <button ion-button icon-left full small (click)="changePass()" style="margin: 0px 0px 0px 0px;" color="primary">
      <ion-icon name="checkmark"> </ion-icon> Change Password
    </button>
    </ion-item>


</ion-content>