// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #662d91,
  secondary:  #662d91,
  danger:     #f53d3d,
  alerts:     #ff9c9c,
  light:      #f4f4f4,
  lightgrayy:      #d1d1d1,
  dark:       #222,
  energy:     #ab54ed,
  titleh1:	  #ffffff,
  transparent: #00FFFF,
  lighter:      #dbaaff,
  landline:      #4267b2,
  email:      #d9534f,
  web:      #eea236,
  greens:      #0a6826,
  call: #37c837,
);
$toolbar-background: color($colors, primary);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$searchbar-ios-toolbar-input-background : rgb(255, 255, 255);
$segment-button-ios-border-width: 0px 0px 1px 0px;
$segment-button-ios-border-radius: 0px;

$toolbar-ios-height	: 3rem;
$segment-button-ios-toolbar-button-height	: 3rem;
$segment-button-ios-toolbar-button-max-width	: 100%;
$segment-button-ios-toolbar-line-height		: 3rem;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-height 		: 4rem;
$segment-button-md-height     :	4rem;
$segment-button-md-line-height	:	4rem;
$searchbar-md-input-height :	4rem;
$segment-button-md-icon-line-height :	4rem;
$searchbar-md-input-search-icon-size	: 22px;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
