<ion-menu [content]="content" [swipeEnabled]="(userLogged) ? true : false">
  
  <ion-content>
    <ion-list *ngIf="userLogged == true">
        <ion-item id="menu_header" no-lines>
            <ion-avatar item-start>
                <img src="https://www.oukazon.com/storage/profile/small_{{userDetails.image}}" *ngIf="userDetails.image != ''" class="dp">
            </ion-avatar>
            <h2 *ngIf="userDetails.name == ''" class="user-name">{{userDetails.username}}</h2>
            <h2 *ngIf="userDetails.name != ''" class="user-name">{{userDetails.name}}</h2>
            <p *ngIf="userDetails.email == ''" class="user-name">{{userDetails.phone}}</p>
            <p *ngIf="userDetails.email != ''" class="user-name">{{userDetails.email}}</p>
            <button ion-button clear item-end icon-left menuClose (click)="logout()" style="background-color: #ab54ed; color: white; margin: 0px 5px 0px 2px;"><ion-icon name="unlock"> </ion-icon>Logout</button>
          </ion-item>
            <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon item-start [name]="p.icon"></ion-icon>
                <span item-end *ngIf="p.title == 'Messages'"><ion-badge class="nbmsgs1" *ngIf="nbmsgs > 0">{{nbmsgs}}</ion-badge></span>
            {{ p.title }}
            </button>
            <button ion-item menuClose *ngIf="langdata == 'AR'" (click)="presentConfirm()"><ion-icon item-start name="globe"></ion-icon>
              العربية <span item-end><img src="./assets/icon/qa.png" height="27" width="27" /></span></button>
            <button ion-item menuClose *ngIf="langdata == 'EN'" (click)="presentConfirm()"><ion-icon item-start name="globe"></ion-icon>
              English <span item-end><img src="./assets/icon/uk.png" height="27" width="27" /></span></button>
    </ion-list>
  </ion-content>
</ion-menu>
 
<!-- main navigation -->
<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>