<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
      </ion-buttons>
      <ion-title>Messages</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let msg of msgs1; let msgIndex = index" (click)="openchat(msgIndex)">
      <ion-avatar item-left>
        <img src="https://www.oukazon.com/storage/profile/small_{{msg.image}}" />
      </ion-avatar>
      <h2>{{msg.name}}</h2>
      <p>{{msg.message_content}}</p>
      <p item-end>{{msg.message_date | timeAgo}} <ion-badge *ngIf="msg.seen!=0" class="nbmsgs1">{{msg.seen}}</ion-badge></p>
      
    </ion-item>
  </ion-list>


  <ion-item *ngFor="let allads of dataSetComp; let msgIndex = index"></ion-item>

</ion-content>