<ion-content padding id="welcome">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Welcome to</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img src="assets/imgs/oukazon-logo.png" class="logo"/>

  <ion-grid >
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="dark" (click)="signup()">Sign up</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="energy" (click)="login()">Log in</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
