page-welcome {
#welcome{
    background: linear-gradient(260deg, #662d91,#8f01fc, #9d05e1, #7505e1,#ac2898, #a90bb8,#8f01fc,#662d91);
    background-size: 500% 500%;
    animation: colorchange 30s ease-out infinite;
    @keyframes colorchange{
        0%{background-position: 0% 99%}
		25%{background-position: 50% 50%}
		50%{background-position: 100% 0%}
		50%{background-position: 50% 50%}
        100%{background-position: 0% 99%}
    }
    h1{
    	color: color($colors, titleh1);
        font-size: 52px;
        margin-top:50px
    }
    h3{
    	color: color($colors, light);
        font-size: 22px;
        margin-top:30%;
        text-align: center
    }
    .marginTop{
        margin-top:150px;
    }
    .logo{
    	width: 60%;
    	margin-left: 20%;
    	margin-right: 20%;
    	margin-bottom:15%;
    }
}
}