<ion-header>
  <ion-navbar>
    <ion-title>{{subcat.cat_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="lighter">
      <h3>Please Select a Sub-Category</h3>
    </ion-item-divider>
    <button ion-item *ngFor="let adsubcat of subcatList; let i = index" (click)="postcompSubCat(i)">
      <span *ngIf="langData=='AR'">{{ adsubcat.sub_cat_namear }}</span>
      <span *ngIf="langData=='EN'">{{ adsubcat.sub_cat_name }}</span>
    </button>
  </ion-list>

</ion-content>