page-smodal {
    .bg1 {
        background: #f0dbff;
    }
    .bg2 {
        background: #dbe7ff;
    }
    .bg3 {
        background: #c1ffd4;
    }
    .badge{
    padding: 1px 5px;
    position: absolute;
    left: 4px;
    bottom: 13px;
    }
}
