<ion-header>
  <ion-navbar>
      <ion-searchbar
      [(ngModel)]="searchTerm"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="search('onTextChange', $event)"
      (ionCancel)="onCancel($event)" #ser>
      </ion-searchbar>
  </ion-navbar>
  <ion-toolbar color="light">
      <ion-segment [(ngModel)]="selectedSection">
          <ion-segment-button value="{{sections.first}}">All <ion-badge class="badge" color="danger" item-end *ngIf="searchTerm?.length > 1">{{products.length + companies.length + questions.length}}  </ion-badge></ion-segment-button>
          <ion-segment-button value="{{sections.second}}">Ads <ion-badge class="badge" color="lighter" item-end *ngIf="searchTerm?.length > 1">{{products.length}}  </ion-badge></ion-segment-button>
          <ion-segment-button value="{{sections.third}}">Directory <ion-badge class="badge" color="landline" item-end *ngIf="searchTerm?.length > 1">{{companies.length}}  </ion-badge></ion-segment-button>
          <ion-segment-button value="{{sections.forth}}">Ask OUKA <ion-badge class="badge" color="greens" item-end *ngIf="searchTerm?.length > 1">{{questions.length}}  </ion-badge></ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="selectedSection">
    <ion-list *ngSwitchCase="sections.first">
    <span *ngIf="searchTerm?.length > 1">
    <div *ngFor="let product of products | slice:0:3; let i = index" (click)="showAd(i)">
      <ion-item class="bg1">
          <ion-thumbnail item-start class="thumb" *ngIf="searchTerm?.length > 2 ">
            <img class="img" *ngIf="product?.pictures!=''" [src]="product.screen_shot" />
            <img class="img" *ngIf="product?.pictures==''" src="https://www.oukazon.com/storage/products/screenshot/small_default.jpg">
          </ion-thumbnail>
          <h2 *ngIf="char == 1">{{product?.product_namear}}</h2>
          <p *ngIf="char == 1">{{product?.descriptionar}}</p>
          <h2 *ngIf="char == 0">{{product?.product_name}}</h2>
          <p *ngIf="char == 0">{{product?.description}}</p>
          <i item-start class="{{product.icon}} fa20"></i>
            <h5 *ngIf="char == 0">{{product?.cat_name}} > {{product?.sub_cat_name}}</h5>
            <h5 *ngIf="char == 1">{{product?.cat_namear}} > {{product?.sub_cat_namear}}</h5>
        </ion-item>
      </div>
      <button ion-button full small icon-right (click)="seg2()" *ngIf="products.length > 3" style="margin: 0px 0px 0px 0px;" color="energy">
        See More <ion-icon name="arrow-forward"> </ion-icon> 
        </button>
        <hr *ngIf="products.length <= 3">
    </span>
   

    <span *ngIf="searchTerm?.length > 1">
        <div *ngFor="let company of companies | slice:0:3; let i = index" (click)="showComp(i)">
          <ion-item class="bg2" >
              <ion-thumbnail item-start class="thumb" *ngIf="searchTerm?.length > 2 ">
                <img class="img" *ngIf="company?.pictures!=''" [src]="company.screen_shot" />
                <img class="img" *ngIf="company?.pictures==''" src="https://www.oukazon.com/storage/companies/screenshot/small_default.jpg">
              </ion-thumbnail>
              <h2 *ngIf="char == 1">{{company?.company_namear}}</h2>
              <p *ngIf="char == 1">{{company?.descriptionar}}</p>
              <h2 *ngIf="char == 0">{{company?.company_name}}</h2>
              <p *ngIf="char == 0">{{company?.description}}</p>
              <i item-start class="{{company.icon}} fa20"></i>
                <h5 *ngIf="char == 0">{{company?.cat_name}} > {{company?.sub_cat_name}}</h5>
                <h5 *ngIf="char == 1">{{company?.cat_namear}} > {{company?.sub_cat_namear}}</h5>
            </ion-item>
          </div>
          <button ion-button full small icon-right (click)="seg3()" *ngIf="companies.length > 3" style="margin: 0px 0px 0px 0px;" color="landline">
              See More <ion-icon name="arrow-forward"> </ion-icon> 
            </button>
            <hr *ngIf="companies.length <= 3">
        </span>


        <span *ngIf="searchTerm?.length > 1">
            <div *ngFor="let question of questions | slice:0:3; let i = index" (click)="showAsk(i)">
              <ion-item class="bg3" >
                  <ion-thumbnail item-start class="thumb" *ngIf="searchTerm?.length > 2 ">
                    <img class="img" *ngIf="question?.pictures!=''" [src]="question.screen_shot" />
                    <img class="img" *ngIf="question?.pictures==''" src="https://www.oukazon.com/storage/questions/screenshot/small_default.jpg">
                  </ion-thumbnail>
                  <h2 *ngIf="char == 1">{{question?.question_namear}}</h2>
                  <p *ngIf="char == 1">{{question?.descriptionar}}</p>
                  <h2 *ngIf="char == 0">{{question?.question_name}}</h2>
                  <p *ngIf="char == 0">{{question?.description}}</p>
                </ion-item>
              </div>
              <button ion-button full small icon-right (click)="seg4()" *ngIf="questions.length > 3" style="margin: 0px 0px 0px 0px;" color="greens">
                  See More <ion-icon name="arrow-forward"> </ion-icon> 
                </button>
            </span>
        
    </ion-list>
    </div>



    <div [ngSwitch]="selectedSection">
        <ion-list *ngSwitchCase="sections.second">
            <span *ngIf="searchTerm?.length > 1">
                <div *ngFor="let product of products; let i = index" (click)="showAd(i)">
                  <ion-item class="bg1" >
                      <ion-thumbnail item-start class="thumb" *ngIf="searchTerm?.length > 2 ">
                        <img class="img" *ngIf="product?.pictures!=''" [src]="product.screen_shot" />
                        <img class="img" *ngIf="product?.pictures==''" src="https://www.oukazon.com/storage/products/screenshot/small_default.jpg">
                      </ion-thumbnail>
                      <h2 *ngIf="char == 1">{{product?.product_namear}}</h2>
                      <p *ngIf="char == 1">{{product?.descriptionar}}</p>
                      <h2 *ngIf="char == 0">{{product?.product_name}}</h2>
                      <p *ngIf="char == 0">{{product?.description}}</p>
                      <i item-start class="{{product.icon}} fa20"></i>
                        <h5 *ngIf="char == 0">{{product?.cat_name}} > {{product?.sub_cat_name}}</h5>
                        <h5 *ngIf="char == 1">{{product?.cat_namear}} > {{product?.sub_cat_namear}}</h5>
                    </ion-item>
                  </div>
                </span>
    </ion-list>
    </div>

    <div [ngSwitch]="selectedSection">
        <ion-list *ngSwitchCase="sections.third">
            <span *ngIf="searchTerm?.length > 1">
                <div *ngFor="let company of companies; let i = index" (click)="showComp(i)">
                  <ion-item class="bg2" >
                      <ion-thumbnail item-start class="thumb" *ngIf="searchTerm?.length > 2 ">
                        <img class="img" *ngIf="company?.pictures!=''" [src]="company.screen_shot" />
                        <img class="img" *ngIf="company?.pictures==''" src="https://www.oukazon.com/storage/companies/screenshot/small_default.jpg">
                      </ion-thumbnail>
                      <h2 *ngIf="char == 1">{{company?.company_namear}}</h2>
                      <p *ngIf="char == 1">{{company?.descriptionar}}</p>
                      <h2 *ngIf="char == 0">{{company?.company_name}}</h2>
                      <p *ngIf="char == 0">{{company?.description}}</p>
                        <i item-start class="{{company.icon}} fa20"></i>
                          <h5 *ngIf="char == 0">{{company?.cat_name}} > {{company?.sub_cat_name}}</h5>
                          <h5 *ngIf="char == 1">{{company?.cat_namear}} > {{company?.sub_cat_namear}}</h5>
                    </ion-item>
                  </div>
                </span>
    </ion-list>
    </div>

    <div [ngSwitch]="selectedSection">
        <ion-list *ngSwitchCase="sections.forth">
            <span *ngIf="searchTerm?.length > 1">
                <div *ngFor="let question of questions; let i = index" (click)="showComp(i)">
                  <ion-item class="bg2" >
                      <ion-thumbnail item-start class="thumb" *ngIf="searchTerm?.length > 2 ">
                        <img class="img" *ngIf="question?.pictures!=''" [src]="question.screen_shot" />
                        <img class="img" *ngIf="question?.pictures==''" src="https://www.oukazon.com/storage/questions/screenshot/small_default.jpg">
                      </ion-thumbnail>
                      <h2 *ngIf="char == 1">{{question?.question_namear}}</h2>
                      <p *ngIf="char == 1">{{question?.descriptionar}}</p>
                      <h2 *ngIf="char == 0">{{question?.question_name}}</h2>
                      <p *ngIf="char == 0">{{question?.description}}</p>
                    </ion-item>
                  </div>
                </span>
    </ion-list>
    </div>








      <div *ngIf="searchTerm?.length < 1 ">
          <hr>
          <ion-item-divider color="lighter">Please Type at least 2 letters</ion-item-divider>
      </div>

</ion-content>
