page-post-ask {
  .block {
    position: relative;
    .deleteIcon {
      position: absolute !important;
      color: #662d91 !important;
      margin-left: 80% !important;
    }
    .deleteIcon:before {
      font-size: 30px !important;
    }
    }

    #map {
        height: 250px;
      }
      .centerMarker{
        position:absolute;
      /*url of the marker*/
      background:url(../assets/icon/marker.png) no-repeat;
      /*center the marker*/
      top:22%;
      left:50%;
      z-index:1;
      /*fix offset when needed*/
      margin-left:-17px;
      margin-top:-20px;
      /*size of the image*/
      height:50px;
      width:50px;
      cursor:pointer;
    }
    .current-location {
      position: absolute;
      // background-color: #fff !important;
      right: 3%;
      width: 30px;
      top: 10% !important;
      button {
        background-color: #fff;
        height: 2.9rem;
        width: 2.9rem;
        img {
          width: 20px;
        }
      }
      .button-ios.activated {
        background-color: transparent;
      }
    }

    ion-content {
      background-color: transparent !important;
    }
    .go-back-button, .search-button {
      background-color: transparent !important;
      box-shadow: none;
      .activated {
        background-color: transparent !important;
      }
    }
    .search-button {
      ion-icon {
        font-size: 2.7rem !important;
      }
    }
    .back-btn, .search-btn {
      position: absolute;
      ion-icon {
        color: #000;
      }
    }
    .search-btn {
      left: 85%;
    }
    .search-box {
      position: absolute;
      top: 0%;
      z-index: 999;
    }
    ion-textarea {
      font-size: 14px;
    }

}
