<ion-header>
  <ion-navbar>
    <ion-title>Ask Your Question</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #FFFFFF !important;">
  <ion-buttons float-end class="current-location">
    <button ion-button icon-only (click)="requestAccuracy()">
      <img src="./assets/icon/current-location.png" alt="">
    </button>
  </ion-buttons>

  <ion-searchbar autocorrect="off" autocapitalize="off" spellcheck="off" #searchbar placeholder="Search..." class="search-box"></ion-searchbar>

  <div #map id="map" class="map"></div>
  <div class="centerMarker"></div>
  <div class="address-view">
    <ion-list style="margin: -1px 0 0px;">
      <ion-item-divider>Use Search box OR Drag map to select Address</ion-item-divider>
      <ion-item no-lines class="address-item">
        <ion-label stacked class="title-label">ADDRESS</ion-label>
        <ion-textarea class="address" [(ngModel)]="address"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>





  <ion-item-divider color="lighter">Question Title</ion-item-divider>
  <ion-item>
    <ion-input type="text" placeholder="Arabic Title" [(ngModel)]="askData.question_namear"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="English Title" [(ngModel)]="askData.question_name"></ion-input>
  </ion-item>

  <ion-item-divider color="lighter">Question Description</ion-item-divider>
  <ion-item>
    <ion-textarea placeholder="Arabic description" [(ngModel)]="askData.descriptionar"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="English description" [(ngModel)]="askData.description"></ion-textarea>
  </ion-item>

  <ion-item-divider color="lighter">Tags</ion-item-divider>
  <ion-item>
    <ion-input type="text" placeholder="Ex: car, ac, mobile, villa" [(ngModel)]="askData.tag"></ion-input>
  </ion-item>

  <ion-item-divider color="lighter">Photos</ion-item-divider>
  <div class="card-background-page">
    <button ion-button icon-left full (click)="presentActionSheet()">
      <ion-icon name="images"></ion-icon>Select Photos
    </button>
    <ion-item-divider [hidden]="lastImage !== null">Please Select Photos! Max 5 Photos</ion-item-divider>
    <ion-grid style="background-color: #ffffff;">
      <ion-row>
        <ion-col col-4 *ngFor="let photo of photos; let id = index" style="padding: 0px;">
          <ion-card style="margin: 1px;width: calc(100% - 5px);">
            <button ion-button icon-left small (click)="deletePhoto(id)">
              <ion-icon name="trash" class="deleteIcon"> </ion-icon> DELETE
            </button>
            <img src="{{pathForImage(photo)}}" [hidden]="lastImage === null" />
          </ion-card>
        </ion-col>
        <ion-input type="text" value="{{photos}}" [(ngModel)]="askData.screen_shot" hidden></ion-input>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item-divider color="lighter">City</ion-item-divider>
  <ion-item>
    <select-searchable title="Where ?" [(ngModel)]="locationData.cc" [items]="cityList" itemValueField="city_id" itemTextField="city_name"
      [canSearch]="true">
    </select-searchable>
  </ion-item>





  <ion-item-divider color="lighter">Phone Number</ion-item-divider>
  <ion-item no-lines>
    <ion-input type="number" placeholder="+974 1234 5678" [(ngModel)]="askData.phone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="hide_phone.value" (ionChange)="h_phone()"></ion-checkbox>
    <ion-label color="primary" stacked>Hide the phone number.</ion-label>
  </ion-item>


  <ion-item-divider color="lighter">Contact Options</ion-item-divider>
  <ion-item-divider>Please specify how you would like to get
    <br> in touch with customers.</ion-item-divider>
  <ion-item no-lines>
    <ion-checkbox checked [(ngModel)]="contact_phone.value" (ionChange)="phone()"></ion-checkbox>
    <ion-label color="primary" stacked>By Phone</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-checkbox checked [(ngModel)]="contact_email.value" (ionChange)="email()"></ion-checkbox>
    <ion-label color="primary" stacked>By Email</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-checkbox checked [(ngModel)]="contact_chat.value" (ionChange)="chat()"></ion-checkbox>
    <ion-label color="primary" stacked>Instant Message</ion-label>
  </ion-item>
  <ion-item-divider color="lighter">Terms and Conditions</ion-item-divider>
  <ion-item>
    <ion-checkbox checked [(ngModel)]="agree.value" (ionChange)="agreeTerms()"></ion-checkbox>
    <ion-label color="primary" stacked>I agree to the terms and conditions</ion-label>
  </ion-item>
</ion-content>
<ion-footer>
  <button ion-button full icon-left (click)="postAsk()" style="margin: 0px 0px 0px 0px;" color="primary">
    <ion-icon name="checkmark"> </ion-icon> Post
  </button>
</ion-footer>