<ion-header>
  <ion-navbar>
      <ion-buttons end *ngIf="step1 == true">
          <button ion-button (click)="info1()">
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons end *ngIf="step2 == true">
            <button ion-button (click)="info2()">
              <ion-icon name="information-circle"></ion-icon>
            </button>
          </ion-buttons>
    <ion-title>
      signup
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="signup">
        <img src="assets/imgs/oukazon-logo.png" class="logo"/>
<span *ngIf="step1 == true">
<form [formGroup]="authForm" (ngSubmit)="smsForm(authForm.value)">

  <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input placeholder="Choose UserName" type="text" value="" [formControl]="authForm.controls['username']" [ngClass]="{'error-border':!authForm.controls['username'].valid}"></ion-input>
  </ion-item>
  <div class="error-box" *ngIf="authForm.controls['username'].hasError('required') && authForm.controls['username'].touched">* Username is required!</div>
  <div class="error-box" *ngIf="authForm.controls['username'].hasError('minlength') && authForm.controls['username'].touched">* Username must be between 4 and 15 characters long.</div>
  <div class="error-box" *ngIf="authForm.controls['username'].hasError('maxlength') && authForm.controls['username'].touched">* Username must be between 4 and 15 characters long.</div>

  <ion-item>
    <ion-label fixed>Mobile Number</ion-label>
    <ion-input placeholder="5050 5050" type="number" value="" [formControl]="authForm.controls['phone']" [ngClass]="{'error-border':!authForm.controls['phone'].valid}"></ion-input>
    <ion-icon item-end name="information-circle"></ion-icon>
  </ion-item>
  <div class="error-box" *ngIf="authForm.controls['phone'].hasError('required') && authForm.controls['phone'].touched">* Phone is required!</div>
  <div class="error-box" *ngIf="authForm.controls['phone'].hasError('minlength') && authForm.controls['phone'].touched">* Phone Number must be 8 Numbers long !</div>
  <div class="error-box" *ngIf="authForm.controls['phone'].hasError('maxlength') && authForm.controls['phone'].touched">* Phone Number must be 8 Numbers long !</div>



<br>
  
  <ion-item>
    <ion-label fixed>Password</ion-label>
    <ion-input type="password" value="" placeholder="Type your pass" [formControl]="authForm.controls['password_hash']" [ngClass]="{'error-border':!authForm.controls['password_hash'].valid}"></ion-input>
   </ion-item>
  <div class="error-box" *ngIf="authForm.controls['password_hash'].hasError('required') && authForm.controls['password_hash'].touched">* Password is required!</div>
  <div class="error-box" *ngIf="authForm.controls['password_hash'].hasError('minlength') && authForm.controls['password_hash'].touched">* Password must be between 4 and 15 characters long.</div>
  <div class="error-box" *ngIf="authForm.controls['password_hash'].hasError('maxlength') && authForm.controls['password_hash'].touched">* Password must be between 4 and 15 characters long.</div>
  <div class="error-box" *ngIf="authForm.controls['password_hash'].hasError('pattern') && authForm.controls['password_hash'].touched">* You Can Not use this Password!</div>
  
  <ion-item>
    <ion-label fixed>Retype Password</ion-label>
    <ion-input type="password" value="" placeholder="Confirm pass" [formControl]="authForm.controls['password_hash2']" [ngClass]="{'error-border':!authForm.controls['password_hash2'].valid}"></ion-input>
  </ion-item>
  <div class="error-box" *ngIf="authForm.controls['password_hash2'].touched && authForm.controls['password_hash2'].hasError('mismatchedPasswords') && authForm.controls['password_hash'].valid">* Password is Doesnt Match!</div>

  <button type="submit" ion-button full color="energy" [disabled]="!authForm.valid">Send SMS Validation</button>
    </form>
    <button ion-button full class="btn-trasparent" (click)="login()">already have an account</button>
  </span>


  <span *ngIf="step2 == true">
      <h2 class="text" style="text-align: center">CODE</h2>
    <form [formGroup]="codeForm" (ngSubmit)="submitForm(codeForm.value)">
        <ion-row>
          <ion-col col-3>
              <h2 class="text">Ouka-</h2>
          </ion-col>
          <ion-col>
          <ion-item>
          <ion-input placeholder="XXX XXX" type="number" value="" [formControl]="codeForm.controls['codes']" [ngClass]="{'error-border':!codeForm.controls['codes'].valid}"></ion-input>
          <ion-icon item-end name="information-circle"></ion-icon>
          </ion-item>
        </ion-col>
        </ion-row>
        <div class="error-box" *ngIf="codeForm.controls['codes'].hasError('required') && codeForm.controls['codes'].touched">* Validation Code is required!</div>
        <div class="error-box" *ngIf="codeForm.controls['codes'].hasError('minlength') && codeForm.controls['codes'].touched">* Validation Code must be 6 Digits long !</div>
        <div class="error-box" *ngIf="codeForm.controls['codes'].hasError('maxlength') && codeForm.controls['codes'].touched">* Validation Code must be 6 Digits long !</div>
      <button type="submit" ion-button full color="energy" [disabled]="!codeForm.valid">SignUp</button>
    </form>
    <div class="text" style="text-align: center">
      <h6 color="titleh1">The SMS Validation Code Is Valid For 5 Mins</h6>
    <h1><span #map id="time">00:00</span></h1>
    </div>
  </span>




  <span *ngIf="step3 == true">
    <form [formGroup]="emailForm" (ngSubmit)="signupForm(emailForm.value)">

        <ion-item>
        <ion-label fixed>Full Name</ion-label>
        <ion-input type="text" placeholder="Your Full Name" value="" [formControl]="emailForm.controls['name']" [ngClass]="{'error-border':!emailForm.controls['name'].valid}"></ion-input>
        </ion-item>
        <div class="error-box" *ngIf="emailForm.controls['name'].hasError('required') && emailForm.controls['name'].touched">* Full Name is required!</div>
        <div class="error-box" *ngIf="emailForm.controls['name'].hasError('minlength') && emailForm.controls['name'].touched">* Full Name must be between 4 and 15 characters long.</div>
        <div class="error-box" *ngIf="emailForm.controls['name'].hasError('maxlength') && emailForm.controls['name'].touched">* Full Name must be between 4 and 15 characters long.</div>

        <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input placeholder="Type Your email"  type="email" value="" [formControl]="emailForm.controls['email']" [ngClass]="{'error-border':!emailForm.controls['email'].valid}"></ion-input>
        </ion-item>
        <div class="error-box" *ngIf="emailForm.controls['email'].hasError('required') && emailForm.controls['email'].touched">* Email is required!</div>
        <div class="error-box" *ngIf="emailForm.controls['email'].hasError('pattern') && emailForm.controls['email'].touched">* This is not a valid email address!</div><br/>

      <button type="submit" ion-button full color="energy" [disabled]="!emailForm.valid">SignUp</button>
    </form>
  </span>
  







</ion-content>