page-signup {
#signup{
    background: linear-gradient(180deg, #662d91,#8f01fc, #9d05e1, #7505e1,#ac2898, #a90bb8,#8f01fc,#662d91);
    background-size: 500% 500%;
    animation: colorchange 30s ease-out infinite;
    @keyframes colorchange{
        0%{background-position: 0% 99%}
		25%{background-position: 50% 50%}
		50%{background-position: 100% 0%}
		50%{background-position: 50% 50%}
        100%{background-position: 0% 99%}
    }
    p{
    	color: color($colors, titleh1);
        font-size: 52px;
        margin-top:50px
    }
    .logo{
    	width: 60%;
    	margin-left: 20%;
    	margin-right: 20%;
    	margin-top:5%;
    	margin-bottom:5%;
    }
    .text{
    	color: color($colors, titleh1);
    }
    .btn-trasparent{
    	background-color: rgba(255,0,0,0.0);

    }
    .error-box{
        display: block;
        top: 0;
        color: #f5f5f5;
        padding: 5px;
        font-size: 14px;
        background-color: #df1919;
    }
  }
}