<ion-header>
  <ion-navbar>
    <ion-title>Edit {{adData.company_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #FFFFFF !important;">
  <ion-buttons float-end class="current-location">
    <button ion-button icon-only (click)="currentLocation()">
      <img src="./assets/icon/current-location.png" alt="">
    </button>
  </ion-buttons>

  <ion-searchbar autocorrect="off" autocapitalize="off" spellcheck="off" #searchbar placeholder="Search..." class="search-box"></ion-searchbar>

  <div #map id="map" class="map"></div>
  <div class="centerMarker"></div>
  <div class="address-view">
    <ion-list style="margin: -1px 0 0px;">
      <ion-item-divider>Use Search box OR Drag map to select Address</ion-item-divider>
      <ion-item no-lines class="address-item">
        <ion-label stacked class="title-label">ADDRESS</ion-label>
        <ion-textarea class="address" [(ngModel)]="address"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>

  <ion-item-divider color="lighter">Company Title</ion-item-divider>
  <ion-item>
    <ion-input type="text" placeholder="Arabic Title" [(ngModel)]="adData.company_namear"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="English Title" [(ngModel)]="adData.company_name"></ion-input>
  </ion-item>

  <ion-item-divider color="lighter">Company Description</ion-item-divider>
  <ion-item>
    <ion-textarea placeholder="Arabic description" [(ngModel)]="adData.descriptionar"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="English description" [(ngModel)]="adData.description"></ion-textarea>
  </ion-item>

  <ion-item-divider color="lighter">Tags</ion-item-divider>
  <ion-item>
    <ion-input type="text" placeholder="Ex: car, ac, mobile, villa" [(ngModel)]="adData.tag"></ion-input>
  </ion-item>




  <ion-item-divider *ngIf="customList != ''" color="lighter">Additional Info</ion-item-divider>
  <span *ngFor="let custom of customList; let i = index; trackBy:trackByIndex">

    <ion-item>
      <ion-label style="display: inline-table" color="primary">{{custom.custom_title}}</ion-label>
      <ion-input style="width: 70%" type="custom.custom_type" [(ngModel)]="custom_select[i]" *ngIf="custom.custom_type=='text'"></ion-input>
      <ion-textarea *ngIf="custom.custom_type=='textarea'" [(ngModel)]="custom_select[i]"></ion-textarea>

      <ion-select *ngIf="custom.custom_type == 'select'" [(ngModel)]="custom_select[i]">
        <ion-option *ngFor="let select1 of custom.custom_options" value="{{select1}}">{{select1}}</ion-option>
      </ion-select>
      <ion-select *ngIf="custom.custom_type == 'checkbox'" [(ngModel)]="custom_select[i]" multiple="true">
        <ion-option *ngFor="let select1 of custom.custom_options" value="{{select1}}">{{select1}}</ion-option>
      </ion-select>
      <ion-select *ngIf="custom.custom_type == 'radio'" [(ngModel)]="custom_select[i]">
        <ion-option *ngFor="let select1 of custom.custom_options" value="{{select1}}">{{select1}}</ion-option>
      </ion-select>
    </ion-item>
  </span>

  <ion-item-divider color="lighter">City</ion-item-divider>
  <ion-item>
    <select-searchable title="Where ?" [(ngModel)]="locationData" [items]="cityList" itemValueField="city_id" itemTextField="city_name"
      [canSearch]="true">
    </select-searchable>
  </ion-item>


  <ion-item-divider color="lighter">Phone Number</ion-item-divider>
  <ion-item no-lines>
    <ion-input type="text" placeholder="+974 1234 5678" [(ngModel)]="adData.phone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="hide_phone.value" (ionChange)="h_phone()"></ion-checkbox>
    <ion-label color="primary" stacked>Hide the phone number.</ion-label>
  </ion-item>

  <ion-item-divider color="lighter">Company Contact Infos</ion-item-divider>
<ion-item no-lines>
    <ion-label color="primary">LandLine</ion-label>
  <ion-input type="number" placeholder="+974 1234 5678" [(ngModel)]="adData.landline"></ion-input>
</ion-item>
<ion-item no-lines>
    <ion-label color="primary">Fax</ion-label>
  <ion-input type="number" placeholder="+974 1234 5678" [(ngModel)]="adData.fax"></ion-input>
</ion-item>
<ion-item no-lines>
    <ion-label color="primary">Email</ion-label>
  <ion-input type="email" placeholder="someone@site.com" [(ngModel)]="adData.email"></ion-input>
</ion-item>
<ion-item no-lines>
    <ion-label color="primary">Website</ion-label>
  <ion-input type="url" placeholder="www.site.com" [(ngModel)]="adData.web"></ion-input>
</ion-item>


  <ion-item-divider color="lighter">Contact Options</ion-item-divider>
  <ion-item-divider>Please specify how you would like to get
    <br> in touch with customers.</ion-item-divider>
  <ion-item no-lines>
    <ion-checkbox checked [(ngModel)]="contact_phone.value" (ionChange)="phone()"></ion-checkbox>
    <ion-label color="primary" stacked>By Phone</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-checkbox checked [(ngModel)]="contact_email.value" (ionChange)="email()"></ion-checkbox>
    <ion-label color="primary" stacked>By Email</ion-label>
  </ion-item>
  <ion-item no-lines>
    <ion-checkbox checked [(ngModel)]="contact_chat.value" (ionChange)="chat()"></ion-checkbox>
    <ion-label color="primary" stacked>Instant Message</ion-label>
  </ion-item>

  
  <ion-item-divider color="lighter">Terms and Conditions</ion-item-divider>
  <ion-item>
    <ion-checkbox checked [(ngModel)]="agree.value" (ionChange)="agreeTerms()"></ion-checkbox>
    <ion-label color="primary" stacked>I agree to the terms and conditions</ion-label>
  </ion-item>
</ion-content>
<ion-footer>
  <button ion-button full icon-left (click)="postAsk()" style="margin: 0px 0px 0px 0px;" color="primary">
    <ion-icon name="checkmark"> </ion-icon> Edit Company
  </button>
</ion-footer>