<ion-menu [content]="content">
  
  <ion-content>
    <ion-list>
        <ion-item id="menu_header" no-lines>
            <ion-avatar item-start>
                <img src="https://www.oukazon.com/storage/profile/small_{{userDetails.image}}" class="dp">
            </ion-avatar>
            <h2 class="user-name">{{userDetails.name}}</h2>
            <p class="user-name">{{userDetails.email}}</p>
            <button ion-button clear item-end icon-left (click)="logout()" style="background-color: #ab54ed; color: white; margin: 0px 5px 0px 2px;"><ion-icon name="unlock"> </ion-icon>Logout</button>
          </ion-item>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon"></ion-icon>
            <span item-end *ngIf="p.title == 'Messages'"><ion-badge class="nbmsgs1" *ngIf="nbmsgs > 0">{{nbmsgs}}</ion-badge></span>
            {{ p.title }}
        </button>
    </ion-list>
  </ion-content>
</ion-menu>
 
<!-- main navigation -->
<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
