page-menu {
    .active-highlight{
        background: color($colors, energy);
    }
    #menu_header{
        background-image: url(../assets/imgs/menu_header_bg.jpg);
        height: 85px;
    }
    .dp{

        box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.80)
    }
    .user-name{
        text-shadow: 0px 0px 3px rgba(86, 1, 94, 0.99);
        color: color($colors, light);
    }
    .oukapoints{
        height: 25px;
        width: 25px;
    }
    .nbmsgs1{
        padding: 3px 5px;
        background-color: #ed5454;
      }
}